<div style="display:flex; align-items:center; justify-content: space-around;">

    <label style="display: flex; align-items: center"> Famille de la nouvelle figure
        &nbsp;&nbsp;&nbsp;
        <textarea rows="1" cols="1" id="family">F000</textarea>
    </label>

    <label style="display: flex; align-items: center"> Combinaison de la nouvelle figure
        &nbsp;&nbsp;&nbsp;
        <textarea rows="1" cols="1" id="combination">SBWI</textarea>
    </label>

    <button type="button" class="btn btn-primary" onclick="addShape()">Ajouter</button>
</div>
<div id="error" class="alert alert-danger"></div>
<div id="done" class="alert alert-success"></div>

<script src="js/addShape.js"></script>