<!DOCTYPE html>
<html lang="en">
<head>
{% include "head.html" %}
</head>
<body>
<h1>Archive JSON</h1>
<div id="container" class="container-fluid">
	<div id="content" class="row">
		<a href="{{ zipUrl }}" class="btn btn-primary">
		Télécharger l'archive
		</a>
	</div>
</div>

</body>
</html>
