<div id="content" class="row">
	<div id="videoContainer" class="video col-6">
		<h1>
			Traitement vidéo {{ video.videoName }}

			{% if video.videoOK %}
				<button type="button" id="videoOK_true"><img  src="/images/circle-check-2x-green.png"></button>
				<button type="button" id="videoOK_false" style="display: none"><img  src="/images/circle-x-2x-red.png"></button>
			{% endif %}
			{% if video.videoOK == false %}
				<button type="button" id="videoOK_true" style="display: none"><img  src="/images/circle-check-2x-green.png"></button>
				<button type="button" id="videoOK_false"><img  src="/images/circle-x-2x-red.png"></button>
			{% endif %}
		</h1>
		<div id="videoMetadata">
			<p>Date: {{ video.dateJMA }} - Contexte : {{ video.idContext }}</p>
			<label>Activité 1 :
				{% if video.activity1 %}
					<button type="button" id="activity1_true"><img  src="/images/circle-check-2x-green.png"></button>
					<button type="button" id="activity1_false" style="display: none"><img  src="/images/circle-x-2x-red.png"></button>
				{% endif %}
				{% if video.activity1 == false %}
					<button type="button" id="activity1_true" style="display: none"><img  src="/images/circle-check-2x-green.png"></button>
					<button type="button" id="activity1_false"><img  src="/images/circle-x-2x-red.png"></button>
				{% endif %}
			</label>
			<label>Activité 2 :
				{% if video.activity2 %}
					<button type="button" id="activity2_true"><img  src="/images/circle-check-2x-green.png"></button>
					<button type="button" id="activity2_false" style="display: none"><img  src="/images/circle-x-2x-red.png"></button>
				{% endif %}
				{% if video.activity2 == false %}
					<button type="button" id="activity2_true" style="display: none"><img  src="/images/circle-check-2x-green.png"></button>
					<button type="button" id="activity2_false"><img  src="/images/circle-x-2x-red.png"></button>
				{% endif %}
			</label>
			<label>Activité 3 :
				{% if video.activity3 %}
					<button type="button" id="activity3_true"><img  src="/images/circle-check-2x-green.png"></button>
					<button type="button" id="activity3_false" style="display: none"><img  src="/images/circle-x-2x-red.png"></button>
				{% endif %}
				{% if video.activity3 == false %}
					<button type="button" id="activity3_true" style="display: none"><img  src="/images/circle-check-2x-green.png"></button>
					<button type="button" id="activity3_false"><img  src="/images/circle-x-2x-red.png"></button>
				{% endif %}
			</label>
		</div>
		<video id="video" preload="metadata" controls="" width="640" height="480">
			<source src="/{{ video.videoName }}" type="video/mp4">
			<source src="/{{ video.videoName }}" type="video/quicktime">
			<source src="/{{ video.videoName }}" type="video/x-msvideo">
		</video>
		<div id="infos">
			<p>Position actuelle : <span id="now">0</span></p>
		</div>

		<button type="button" class="btn btn-primary" id="delete_video">Supprimer la vidéo</button>


	</div>

	<div id="participationContainer" class="col-6">
		<ul class="nav nav-tabs" id="onglets" role="tablist">
			{% for p in video.participants %}
				<li class="nav-item">
					<a class="nav-link"
					   id="{{ p.idParticipant }}-tab" data-toggle="tab"
					   href="#onglet-{{ p.idParticipant }}"
					   role="tab" aria-controls="data">
						Participation {{ p.idParticipant }}
					</a>
				</li>
			{% endfor %}
		</ul>

		<div class="tab-content">
			{% for p in video.participants %}
				<div class="tab-pane" id="onglet-{{ p.idParticipant }}"
					 role="tabpanel" aria-labelledby="data-tab">

					<div class="row">
						<div id="evenements-{{ p.idParticipant }}" class="evenements col-5">
							<h2>Evénements {{ p.idParticipant }}</h2>

							<div id="listeEvents-{{ p.idParticipant }}"
								 class="list-group overflow-auto list-evts">
							</div>

							<div id="ajoutEvent-{{ p.idParticipant }}">
								<a href="#" class="btn btn-primary" data-toggle="modal"
								   data-target="#eventMap">
									Ajouter un événement
								</a>
							</div>
							<br>
							<div>
								<button type="button" class="btn btn-primary" onclick="deleteAllEvents({{ video}},{{ p }})">Supprimer tous les évènements</button>
							</div>
							<br>
							{% if video.idTeam != 'ind' %}
								<div class="copy-paste-buttons" >
									<button type="button" class="btn btn-primary" onclick="copyEvents({{ video}},{{ p }})" id="copy">Copier les évènements</button>
								</div>
							{% endif %}
						</div>

						<div id="metadata-{{ p.idParticipant }}" class="participants col-7">
							<h2>Metadata {{ p.idParticipant }}</h2>

							<form id="metadataForm-{{ p.idParticipant }}" action="">
								<div class="form-group row">
									<label for="nameParticipant-{{ p.idParticipant }}"
										   class="col-5 col-form-label">nameParticipant</label>
									<div class="col-7">
										<input type="text" name="nameParticipant-{{ p.idParticipant }}"
											   id="nameParticipant-{{ p.idParticipant }}"
											   class="form-control"
											   value="{{ p.nameParticipant }}">
									</div>
								</div>
								<div class="form-group row">
									<label for="profession-{{ p.idParticipant }}"
										   class="col-5 col-form-label">profession</label>
									<div class="col-7">
										<input type="text" name="profession-{{ p.idParticipant }}"
											   id="profession-{{ p.idParticipant }}" class="form-control"
											   value="{{ p.profession }}">
									</div>
								</div>
								<div class="form-group row">
									<label for="profileTech-{{ p.idParticipant }}"
										   class="col-5 col-form-label">
										profileTech</label>
									<div class="col-7">
										<input type="text" name="profileTech-{{ p.idParticipant }}"
											   id="profileTech-{{ p.idParticipant }}" class="form-control"
											   value="{{ p.profileTech }}">
									</div>
								</div>
								<div class="form-group row">
									<label for="diversity-{{ p.idParticipant }}"
										   class="col-5 col-form-label">diversity</label>
									<div class="col-7">
										<input type="text" name="diversity-{{ p.idParticipant }}"
											   id="diversity-{{ p.idParticipant }}" class="form-control"
											   value="{{ p.diversity }}">
									</div>
								</div>
								<fieldset id="lh-{{ p.idParticipant }}" class="form-group">
									<div class="row">
										<legend class="col-5 col-form-label">leftHanded</legend>
										<div class="col-7">
											<div class="form-control form-check form-check-inline">
												&nbsp;
												<input class="form-check-input" type="radio"
													   name="leftHanded-{{ p.idParticipant }}"
													   id="leftHandedO-{{ p.idParticipant }}"
													   value="O" {% if p.leftHanded %}checked{% endif %}>
												<label for="leftHandedO-{{ p.idParticipant }}"
													   class="col-4 col-form-label">Oui</label>
												&nbsp;
												<input class= "form-check-input" type="radio"
													   name="leftHanded-{{ p.idParticipant }}"
													   id="leftHandedN-{{ p.idParticipant }}"
													   value="N" {% if p.leftHanded == false %}checked{% endif %}>
												<label for="leftHandedN-{{ p.idParticipant }}"
													   class="col-4 col-form-label">Non</label>
											</div>
										</div>
									</div>
								</fieldset>
								<div class="form-group row">
									<label for="cubeletsPriorKnowledge-{{ p.idParticipant }}"
										   class="col-5 col-form-label">cubeletsPriorKnowledge</label>
									<div class="col-7">
										<input type="text"
											   name="cubeletsPriorKnowledge-{{ p.idParticipant }}"
											   id="cubeletsPriorKnowledge-{{ p.idParticipant }}"
											   class="form-control"
											   value="{{ p.cubeletsPriorKnowledge }}">
									</div>
								</div>
								<div class="form-group row">
									<label for="age-{{ p.idParticipant }}" class="col-5 col-form-label">
										age</label>
									<div class="col-7">
										<input type="text" name="age-{{ p.idParticipant }}"
											   id="age-{{ p.idParticipant }}" class="form-control"
											   value="{{ p.age }}">
									</div>
								</div>
								<div class="form-group row">
									<label for="ageCategory-{{ p.idParticipant }}"
										   class="col-5 col-form-label">ageCategory</label>
									<div class="col-7">
										<input type="text" name="ageCategory-{{ p.idParticipant }}"
											   id="ageCategory-{{ p.idParticipant }}" class="form-control"
											   value="{{ p.ageCategory }}" maxlength="3" disabled >
									</div>
								</div>
								<fieldset id="gnd-{{ p.idParticipant }}" class="form-group">
									<div class="row">
										<legend class="col-5 col-form-label">gender</legend>
										<div class="col-7">
											<div class="form-control form-check form-check-inline">
												&nbsp;
												<input class="form-check-input" type="radio"
													   name="gender-{{ p.idParticipant }}"
													   id="genderF-{{ p.idParticipant }}"
													   value="F" {% if p.gender == 'F' %}checked{% endif %}>
												<label for="genderF-{{ p.idParticipant }}"
													   class="col-4 col-form-label">F</label>
												&nbsp;
												<input class= "form-check-input" type="radio"
													   name="gender-{{ p.idParticipant }}"
													   id="genderM-{{ p.idParticipant }}"
													   value="M" {% if p.gender == 'M' %}checked{% endif %}>
												<label for="genderM-{{ p.idParticipant }}"
													   class="col-4 col-form-label">M</label>
											</div>
										</div>
									</div>
								</fieldset>
								<fieldset id="ok-{{ p.idParticipant }}" class="form-group">
									<div class="row">
										<legend class="col-5 col-form-label">participationOK</legend>
										<div class="col-7">
											<div class="form-control form-check form-check-inline">
												&nbsp;
												<input class= "form-check-input" type="radio"
													   name="participationOK-{{ p.idParticipant }}"
													   id="pOK-{{ p.idParticipant }}"
													   value="OK" {% if p.participationOK %}checked{% endif %}>
												<label for="pOK-{{ p.idParticipant }}"
													   class="col-4 col-form-label">OK</label>
												&nbsp;
												<input class= "form-check-input" type="radio"
													   name="participationOK-{{ p.idParticipant }}"
													   id="pKO-{{ p.idParticipant }}"
													   value="KO" {% if p.participationOK == false %}checked{% endif %}>
												<label for="pKO-{{ p.idParticipant }}"
													   class="col-4 col-form-label">KO</label>
											</div>
										</div>
									</div>
								</fieldset>
								<div class="form-group row">
									<label for="commentaire-{{ p.idParticipant }}"
										   class="col-5 col-form-label">commentaire</label>
									<div class="col-7">
										<input type="text" name="commentaire-{{ p.idParticipant }}"
											   id="commentaire-{{ p.idParticipant }}" class="form-control"
											   value="{{ p.commentaire }}">
									</div>
								</div>
								<div id="resultatModifMetadata-{{ p.idParticipant }}" class="alert alert-info"></div>
								<div class="form-group row" id="modifMetadata-{{ p.idParticipant }}">
									<button type="button" id="modifMeta-{{ p.idParticipant }}"
											class="btn btn-primary">Modifier</button>
								</div>
								<div class="form-group row" id="validMetadata-{{ p.idParticipant }}">
									<button type="button" id="annulMeta-{{ p.idParticipant }}"
											class="btn btn-secondary">Annuler</button>
									&nbsp;&nbsp;
									<button type="button" id="validMeta-{{ p.idParticipant }}"
											class="btn btn-primary">Valider</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
{% include "addShape.html" %}

	</div>
</div>
