<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>

<script src="https://cdn.jsdelivr.net/npm/pdfkit@0.10.0/js/pdfkit.standalone.js"></script>
<script src="https://cdn.jsdelivr.net/npm/svg-to-pdfkit@0.1.8/source.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>



<div class="sidebar-sticky col-lg-3 col-xl-2">
        {% include "participationFilter.html" %}
        {% include "participationList.html" %}
        <br>
        &nbsp;&nbsp;&nbsp;
        <input type="checkbox" class="form-check-input" name="see-idParticipant" id="see-idParticipant" value="true"> <label for="see-idParticipant"> Afficher les id des participants</label>
        <br>
        &nbsp;&nbsp;&nbsp;
        <input type="checkbox" class="form-check-input" name="sort-id" id="sort-id" value="true"> <label for="sort-id"> Trier par id dans le graphique</label>
        <br>
        &nbsp;&nbsp;&nbsp;
        <input type="checkbox" class="form-check-input" name="keep-size-axe" id="keep-size-axe" value="true"> <label for="keep-size-axe"> Garder la même taille d'axe</label>
        <br>
        &nbsp;&nbsp;&nbsp;
        <input type="checkbox" class="form-check-input" name="display-coop" id="display-coop" value="true"> <label for="display-coop"> Afficher la coopération</label>
        <br>
        &nbsp;&nbsp;&nbsp;
        <input type="checkbox" class="form-check-input" name="display-by-activity" id="display-by-activity" value="true"> <label for="display-by-activity"> Afficher par activité</label>
        <br>


        <div id="messages" class="alert alert-danger"></div>
        <button type="button" class="btn btn-primary" id="add-participant">Ajouter au graphique</button>
        <br>
        <br>

        &nbsp;&nbsp;&nbsp;
        <input type="checkbox" class="form-check-input" name="display-only-good-data" id="display-only-good-data" value="true"> <label for="display-only-good-data"  style="width: 250px"> Récupérer les données en prenant en compte le temps total</label>
        <br>
        &nbsp;&nbsp;&nbsp;
        <input type="checkbox" class="form-check-input" name="display-only-good-data-A1" id="display-only-good-data-A1" value="true"> <label for="display-only-good-data-A1" style="width: 250px"> Récupérer les données en prenant en compte A1</label>
        <br>
        &nbsp;&nbsp;&nbsp;
        <input type="checkbox" class="form-check-input" name="display-only-good-data-A2" id="display-only-good-data-A2" value="true"> <label for="display-only-good-data_A2"  style="width: 250px"> Récupérer les données en prenant en compte A2</label>
        <br>

        <button type="button" id="excel"
                class="btn btn-primary">Créer un excel</button>
</div>


<div class="col-lg-9 col-xl-10">
        <ul class="nav nav-tabs" id="onglets" role="tablist">
                <li class="nav-item">
                        <a class="nav-link active" id="charts-tab" data-toggle="tab" href="#onglet-data"
                           role="tab" aria-controls="data">
                                Graphiques
                        </a>
                </li>

                <li class="nav-item">
                        <a class="nav-link" id="feedback-tab" data-toggle="tab" href="#onglet-list"
                           role="tab" aria-controls="list">
                                Feedback
                        </a>
                </li>


        </ul>
        <div class="tab-content">


                <div class="tab-pane active" id="onglet-data" role="tabpanel" aria-labelledby="charts-tab">

                        <div id="chart-div" style="width:100%; height: 500px;"></div>
                        <button type="button" class="btn btn-primary" id="save-img">Télécharger le graphique</button>

                        <div id="chart-div1" style="width:100%; height: 500px;"></div>
                        <button type="button" class="btn btn-primary" id="save-img1">Télécharger le graphique</button>

                        <div id="chart-div2" style="width:100%; height: 500px;"></div>
                        <button type="button" class="btn btn-primary" id="save-img2">Télécharger le graphique</button>

                        <div id="box-plot" style="width:100%; height: 500px;"></div>
                        <button type="button" class="btn btn-primary" id="save-img-boxPlot">Télécharger le graphique</button>
                </div>

                <div class="tab-pane" id="onglet-list" role="tabpanel" aria-labelledby="feedback-tab">

                        <label for="body-text">
                                Corps du message :
                        </label>
                        <textarea class="form-control" name="body-text" id="body-text" rows="10" cols="50">Cher.e.s participant.e.s,&#10;&#10;Nous vous remercions d'avoir participé à l'activité CreaCube. Suite à votre participation à cette activité de résolution de problèmes, nous avons analysé la résolution co-créative de problèmes de manière anonyme.&#10;&#10;TEXTE A PERSONNALISER ICI&#10;&#10;Vous trouverez ci dessous les résultats globaux. La fluidité concerne l'ensemble de configuration réalisées. La flexibilité, le nombre de configurations différentes et l'innovation celles qui sont les moins fréquentes parmi les participants.</textarea>
                        <br>
                        <p>Ajouter le graphique avec les données individuelles :</p>
                        <input type="radio" name="add-chart" id="add-feedbackChart-true" value="true"> <label for="add-feedbackChart-true"> Oui</label>
                        <input type="radio" name="add-chart" id="add-feedbackChart" value="false" checked> <label for="add-feedbackChart"> Non</label>
                        <br>
                        <br>
                        <p>Ajouter le graphique avec les boîtes à moustache :</p>
                        <input type="radio" name="add-boxPlot" id="add-boxPlot-true" value="true"> <label for="add-boxPlot-true"> Oui</label>
                        <input type="radio" name="add-boxPlot" id="add-boxPlot" value="false" checked> <label for="add-boxPlot"> Non</label>
                        <br>
                        <br>
                        <label for="signature"> Signature(s) :</label>
                        <textarea class="form-control" name="signature" cols="50" rows="4" id="signature">SIGNATURE(S) A PERSONNALISER</textarea>
                        <button type="button" class="btn btn-primary" id="save-feedback" onclick="feedbackPDF()">Télécharger le feedback</button>

                </div>

        </div>


        <script src="https://igniteui.com/js/external/FileSaver.js"></script>
        <script src="sheetjs/dist/xlsx.full.min.js"></script>

        <script src="mathjs/lib/browser/math.js"></script>

        <script src="js/codingConverter.js"></script>
        <script src="js/creativityCalculator.js"></script>
        <script src="js/boxPlotChart.js"></script>
        <script src="js/feedbackChart.js"></script>
        <script src="js/download.js"></script>
        <script src="js/feedbackPDF.js"></script>
        <script src="js/participationFilter.js"></script>
        <script src="js/cooperationCalculator.js"></script>
        <script src="/js/exportExcel.js" charset="utf-8"></script>
        <script src="/js/timeCalculator.js" charset="utf-8"></script>

        <script>

                $("#onglets a").on("click", function(e) {
                        e.preventDefault();
                        $(this).tab("show");
                });

                //hide errors
                $("#messages").hide();

                var currentParticipation = new Array();

                // gestion des changements de critères de filtrage des participations
                $("#filtres").change(function() {
                        modifyListe("initBoxPlotChart");
                });

                // Affichage de la structure des graphiques
                $(function() {
                        initFeedbackChart();
                });

                $(function (){
                        addAllBegin()
                })

                // Gestion des changements de sélection des participations
                $("#liste").change(function() {
                        changeSelection($(this).val());
                });

                document.getElementById('see-idParticipant').addEventListener('click', function (event) {
                        initFeedbackChart()
                });

                document.getElementById('sort-id').addEventListener('click', function (event) {
                        initFeedbackChart()
                });
                document.getElementById('keep-size-axe').addEventListener('click', function (event) {
                        initFeedbackChart()
                });
                document.getElementById('display-coop').addEventListener('click', function (event) {
                        initFeedbackChart()
                });

                document.getElementById('display-by-activity').addEventListener('click', function (event) {
                        initFeedbackChart()
                });

                document.getElementById('excel').onclick = function (){
                        
                        makeExcel(currentParticipation)
                }




        </script>

</div>

