<h2 class="h2 col-9">Traitement des vidéos</h2>
<div id="ajoutVideoDiv" class="form-group col-3">
	<a href="#" target="_blank" class="btn btn-primary"
	   data-toggle="modal" data-target="#newVideo">
		Ajouter une vidéo</a>
</div>
<div id="liste" class="col-12">
	<table class="table table-striped table-fixed">
		<thead class="thead-dark">
		<tr>
			<th class="col-1">ID video</th>
			<th class="col-2">Nom video</th>
			<th class="col-1">Team</th>
			<th class="col-3">Participants</th>
			<th class="col-1">Date</th>
			<th class="col-3">Commentaire</th>
			<th class="col-1">&nbsp;</th>
		</tr>
		</thead>
		<tbody class="tbl-list-videos" id="list_videos">
		{% for v in videos %}
			{% if v.videoName != "" %}
				<tr>
					<td class="col-1">
						{% if v.videoOK %}
							<img src="/images/circle-check-2x-green.png">
						{% endif %}
						{% if v.videoOK == false %}
							<img src="/images/circle-x-2x-red.png">
						{% endif %}
						{{ v.idVideo }}
					</td>
					<td class="col-2">{{ v.videoName }}</td>
					<td class="col-1">{{ v.idTeam }}</td>
					<td class="col-3">
						{% if v.participants.length > 0 %}
							{% if v.participants[0].participationOK %}
								<img src="/images/circle-check-2x-green.png">
							{% endif %}
							{% if v.participants[0].participationOK == false %}
								<img src="/images/circle-x-2x-red.png">
							{% endif %}
							{{ v.participants[0].idParticipant }} -
							{{ v.participants[0].nameParticipant }} -
							{{ v.participants[0].gender }} -
							{{ v.participants[0].age }}
							{% if v.participants.length > 1 %}
								<br>
								{% if v.participants[1].participationOK %}
									<img src="/images/circle-check-2x-green.png">
								{% endif %}
								{% if v.participants[1].participationOK == false %}
									<img src="/images/circle-x-2x-red.png">
								{% endif %}
								{{ v.participants[1].idParticipant }} -
								{{ v.participants[1].nameParticipant }} -
								{{ v.participants[1].gender }} -
								{{ v.participants[1].age }}
								{% if v.participants.length > 2 %}
									<br>
									{% if v.participants[2].participationOK %}
										<img src="/images/circle-check-2x-green.png">
									{% endif %}
									{% if v.participants[2].participationOK == false %}
										<img src="/images/circle-x-2x-red.png">
									{% endif %}
									{{ v.participants[2].idParticipant }} -
									{{ v.participants[2].nameParticipant }} -
									{{ v.participants[2].gender }} -
									{{ v.participants[2].age }}
								{% endif %}
							{% endif %}
						{% endif %}
					</td>
					<td class="col-1">{{ v.dateJMA }}</td>
					<td class="col-3">
						{% if v.commentaire != "" %}
							{{ v.commentaire }}<br>
						{% endif %}
						{% for p in v.participants %}
							{% if p.commentaire != null %}
								{% if p.commentaire != "" %}
									{{ p.idParticipant }} - {{ p.commentaire }}<br>
								{% endif %}
							{% endif %}
						{% endfor %}
					</td>
					<td class="col-1 text-center">
						<a href="videoTreatment.html?id={{ v.idVideo }}"
						   target="_blank" class="btn modifVideo">
							<img src="/images/open-iconic/pencil-2x.png">
						</a>
					</td>
				</tr>
			{% endif %}
		{% endfor %}
		</tbody>
	</table>
</div>
{% include "newVideoModal.html" %}
&nbsp;&nbsp;&nbsp;
<div style="width: 100%; display:flex; justify-content: flex-end; gap: 5px ;margin: 15px ">
	{% for page in nbPage %}
	<a type="button" id="page{{ page }}"
		class="btn btn-primary" href='javascript:updateVideoList({{ page }})'>{{ page }}</a>
	{% endfor %}
</div>


<div>
	<p id="lastIdVideoInterface"></p>
</div>
<hr>
<div>
	<p id="lastIdTeamInterface"></p>
</div>
<hr>
<div>
	<p id="lastIdParticipantInterface"></p>
</div>


{% for lastid in lastIds %}
	<hr>
	<div>
		<form id="metadataForm-{{ lastid.nameId }}">
			<label  for="name-{{ lastid.nameId }}"> Dernier {{ lastid.nameId }} filmé</label><input class="form-control" type="text" id="name-{{ lastid.nameId }}" name="{{ lastid.nameId }}" value="{{ lastid.id }}">

			<br>
			<div class="form-group row" id="validMetadata-{{ lastid.nameId }}">
				&nbsp;&nbsp;&nbsp;
				<button type="button" id="validMeta-{{ lastid.nameId }}"
						class="btn btn-primary">Valider</button>
			</div>
		</form>
	</div>
	&nbsp;&nbsp;&nbsp;
{% endfor %}
<br>

<script src="/sprintf/sprintf.min.js" charset="utf-8"></script>
<script src="/js/videosManagement.js" charset="utf-8"></script>
<script src="/js/updateLastId.js" charset="utf-8"></script>
<script src="/js/pages.js" charset="utf-8"></script>

<script>

	putLastId("idVideo", function (lastId){
		$("#lastIdVideoInterface").append("Dernier idVideo  sur l'interface : "+lastId)
	})
	putLastIdTeam("2", function (lastId){
		$("#lastIdTeamInterface").append("Dernier idTeam  sur l'interface : "+lastId)
	})
	putLastId("idParticipant", function (lastId){
		$("#lastIdParticipantInterface").append("Dernier idParticipant  sur l'interface : "+lastId)
	})

	$("#ajoutVideoDiv").click(function() {
		initGestionVideos();
	});

	$(function() {
		$('.datepicker').datepicker({
			language: 'fr',
			format: 'dd/mm/yyyy',
			autoclose: 'true',
			todayHighlight: 'true',
			clearBtn: 'true'
		});
	});

	{% for lastid in lastIds %}
	$(function(){
		saveLastId({{ lastid | safe }})
	})
	{% endfor %}


</script>