<div class="col-lg-12">
	<ul class="nav nav-tabs" id="onglets" role="tablist">
		<li class="nav-item">
			<a class="nav-link" id="data-tab" data-toggle="tab" href="#onglet-json"
				role="tab" aria-controls="data">
			JSON
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="data-tab" data-toggle="tab" href="#onglet-data"
				role="tab" aria-controls="data">
			Données individuelles
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="list-tab" data-toggle="tab" href="#onglet-list"
				role="tab" aria-controls="list">
			Liste complète
			</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane" id="onglet-json" role="tabpanel" aria-labelledby="json-tab">
			{% include "json.html" %}
		</div>
		<div class="tab-pane" id="onglet-data" role="tabpanel" aria-labelledby="data-tab">
			{% include "individualData.html" %}
		</div>
		<div class="tab-pane" id="onglet-list" role="tabpanel" aria-labelledby="list-tab">
			{% include "resultsList.html" %}
		</div>
	</div>
</div>
<script>
$("#onglets a").on("click", function(e) {
	e.preventDefault();
	$(this).tab("show");
});
</script>
