<!-- Load d3.js -->
<script src="/d3/d3v3.js" charset="utf-8"></script>

<script src="https://cdn.jsdelivr.net/npm/pdfkit@0.10.0/js/pdfkit.standalone.js"></script>
<script src="https://cdn.jsdelivr.net/npm/svg-to-pdfkit@0.1.8/source.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div class="sidebar-sticky col-lg-3 col-xl-2">
    {% include "participationFilter.html" %}
    {% include "participationList.html" %}
    <br>
    &nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-primary" id="update_table">Mettre à jour les résultats</button>
</div>


<div class="col-lg-9 col-xl-10">
    <ul class="nav nav-tabs" id="onglets" role="tablist">
        <li class="nav-item" id="statistic_tab_item">
            <a class="nav-link active" id="statistic-tab" data-toggle="tab" href="#onglet-data"
               role="tab" aria-controls="data">
                Statistic
            </a>
        </li>
        <li class="nav-item" id="global_tab_item" onclick="initPieChart()">
            <a class="nav-link" id="global-tab" data-toggle="tab" href="#onglet-list"
               role="tab" aria-controls="list">
                Global
            </a>
        </li>
        <li class="nav-item" id="A1_tab_item">
            <a class="nav-link" id="A1-tab" data-toggle="tab" href="#onglet-list2"
               role="tab" aria-controls="list">
                A1
            </a>
        </li>
        <li class="nav-item" id="A2_tab_item">
            <a class="nav-link" id="A2-tab" data-toggle="tab" href="#onglet-list3"
               role="tab" aria-controls="list">
                A2
            </a>
        </li>


    </ul>
    <div class="tab-content">


        <div class="tab-pane active" id="onglet-data" role="tabpanel" aria-labelledby="statistic-tab">

            <div id="liste" class="col-12" style="display: flex;justify-content: center;">
                <table class="table table-striped table-fixed">
                    <thead class="thead-dark">
                    <tr>

                        <th class="col-2">Criterion</th>
                        <th class="col-1">Min value</th>
                        <th class="col-1">First quantile</th>
                        <th class="col-1">Median</th>
                        <th class="col-1">Third quantile</th>
                        <th class="col-1">Max value</th>
                        <th class="col-1">Average</th>
                        <th class="col-2">Standard Deviation</th>
                        <th class="col-1">Variance</th>
                        <th class="col-1">Nb participant</th>
                    </tr>
                    </thead>
                    <tbody class="tbl-list-videos">
                    <tr>
                        <td class="col-2">Fluidity</td>
                        <td class="col-1" id="fluidity_min"></td>
                        <td class="col-1" id="fluidity_quantile1"></td>
                        <td class="col-1" id="fluidity_median"></td>
                        <td class="col-1" id="fluidity_quantile3"></td>
                        <td class="col-1" id="fluidity_max"></td>
                        <td class="col-1" id="fluidity_average"></td>
                        <td class="col-2" id="fluidity_sd" ></td>
                        <td class="col-1" id="fluidity_variance"></td>
                        <td class="col-1" id="fluidity_nbP"></td>
                    </tr>
                    <tr>
                        <td class="col-2">Flexibility</td>
                        <td class="col-1" id="flexibility_min"></td>
                        <td class="col-1" id="flexibility_quantile1"></td>
                        <td class="col-1" id="flexibility_median"></td>
                        <td class="col-1" id="flexibility_quantile3"></td>
                        <td class="col-1" id="flexibility_max"></td>
                        <td class="col-1" id="flexibility_average"></td>
                        <td class="col-2" id="flexibility_sd" ></td>
                        <td class="col-1" id="flexibility_variance"></td>
                        <td class="col-1" id="flexibility_nbP"></td>
                    </tr>
                    <tr>
                        <td class="col-2">Originality</td>
                        <td class="col-1" id="originality_min"></td>
                        <td class="col-1" id="originality_quantile1"></td>
                        <td class="col-1" id="originality_median"></td>
                        <td class="col-1" id="originality_quantile3"></td>
                        <td class="col-1" id="originality_max"></td>
                        <td class="col-1" id="originality_average"></td>
                        <td class="col-2" id="originality_sd" ></td>
                        <td class="col-1" id="originality_variance"></td>
                        <td class="col-1" id="originality_nbP"></td>
                    </tr>
                    <tr>
                        <td class="col-2">Total time</td>
                        <td class="col-1" id="total_time_min"></td>
                        <td class="col-1" id="total_time_quantile1"></td>
                        <td class="col-1" id="total_time_median"></td>
                        <td class="col-1" id="total_time_quantile3"></td>
                        <td class="col-1" id="total_time_max"></td>
                        <td class="col-1" id="total_time_average"></td>
                        <td class="col-2" id="total_time_sd" ></td>
                        <td class="col-1" id="total_time_variance"></td>
                        <td class="col-1" id="total_time_nbP"></td>
                    </tr>
                    <tr>
                        <td class="col-2">A1 Fluidity</td>
                        <td class="col-1" id="fluidity_a1_min"></td>
                        <td class="col-1" id="fluidity_a1_quantile1"></td>
                        <td class="col-1" id="fluidity_a1_median"></td>
                        <td class="col-1" id="fluidity_a1_quantile3"></td>
                        <td class="col-1" id="fluidity_a1_max"></td>
                        <td class="col-1" id="fluidity_a1_average"></td>
                        <td class="col-2" id="fluidity_a1_sd" ></td>
                        <td class="col-1" id="fluidity_a1_variance"></td>
                        <td class="col-1" id="fluidity_a1_nbP"></td>
                    </tr>
                    <tr>
                        <td class="col-2">A1 Flexibility</td>
                        <td class="col-1" id="flexibility_a1_min"></td>
                        <td class="col-1" id="flexibility_a1_quantile1"></td>
                        <td class="col-1" id="flexibility_a1_median"></td>
                        <td class="col-1" id="flexibility_a1_quantile3"></td>
                        <td class="col-1" id="flexibility_a1_max"></td>
                        <td class="col-1" id="flexibility_a1_average"></td>
                        <td class="col-2" id="flexibility_a1_sd" ></td>
                        <td class="col-1" id="flexibility_a1_variance"></td>
                        <td class="col-1" id="flexibility_a1_nbP"></td>
                    </tr>
                    <tr>
                        <td class="col-2">A1 Originality</td>
                        <td class="col-1" id="originality_a1_min"></td>
                        <td class="col-1" id="originality_a1_quantile1"></td>
                        <td class="col-1" id="originality_a1_median"></td>
                        <td class="col-1" id="originality_a1_quantile3"></td>
                        <td class="col-1" id="originality_a1_max"></td>
                        <td class="col-1" id="originality_a1_average"></td>
                        <td class="col-2" id="originality_a1_sd" ></td>
                        <td class="col-1" id="originality_a1_variance"></td>
                        <td class="col-1" id="originality_a1_nbP"></td>
                    </tr>
                    <tr>
                        <td class="col-2">A1 Time</td>
                        <td class="col-1" id="time_a1_min"></td>
                        <td class="col-1" id="time_a1_quantile1"></td>
                        <td class="col-1" id="time_a1_median"></td>
                        <td class="col-1" id="time_a1_quantile3"></td>
                        <td class="col-1" id="time_a1_max"></td>
                        <td class="col-1" id="time_a1_average"></td>
                        <td class="col-2" id="time_a1_sd" ></td>
                        <td class="col-1" id="time_a1_variance"></td>
                        <td class="col-1" id="time_a1_nbP"></td>
                    </tr>
                    <tr>
                        <td class="col-2">A2 Fluidity</td>
                        <td class="col-1" id="fluidity_a2_min"></td>
                        <td class="col-1" id="fluidity_a2_quantile1"></td>
                        <td class="col-1" id="fluidity_a2_median"></td>
                        <td class="col-1" id="fluidity_a2_quantile3"></td>
                        <td class="col-1" id="fluidity_a2_max"></td>
                        <td class="col-1" id="fluidity_a2_average"></td>
                        <td class="col-2" id="fluidity_a2_sd" ></td>
                        <td class="col-1" id="fluidity_a2_variance"></td>
                        <td class="col-1" id="fluidity_a2_nbP"></td>
                    </tr>
                    <tr>
                        <td class="col-2">A2 Flexibility</td>
                        <td class="col-1" id="flexibility_a2_min"></td>
                        <td class="col-1" id="flexibility_a2_quantile1"></td>
                        <td class="col-1" id="flexibility_a2_median"></td>
                        <td class="col-1" id="flexibility_a2_quantile3"></td>
                        <td class="col-1" id="flexibility_a2_max"></td>
                        <td class="col-1" id="flexibility_a2_average"></td>
                        <td class="col-2" id="flexibility_a2_sd" ></td>
                        <td class="col-1" id="flexibility_a2_variance"></td>
                        <td class="col-1" id="flexibility_a2_nbP"></td>
                    </tr>
                    <tr>
                        <td class="col-2">A2 Originality</td>
                        <td class="col-1" id="originality_a2_min"></td>
                        <td class="col-1" id="originality_a2_quantile1"></td>
                        <td class="col-1" id="originality_a2_median"></td>
                        <td class="col-1" id="originality_a2_quantile3"></td>
                        <td class="col-1" id="originality_a2_max"></td>
                        <td class="col-1" id="originality_a2_average"></td>
                        <td class="col-2" id="originality_a2_sd" ></td>
                        <td class="col-1" id="originality_a2_variance"></td>
                        <td class="col-1" id="originality_a2_nbP"></td>
                    </tr>
                    <tr>
                        <td class="col-2">A2 Time</td>
                        <td class="col-1" id="time_a2_min"></td>
                        <td class="col-1" id="time_a2_quantile1"></td>
                        <td class="col-1" id="time_a2_median"></td>
                        <td class="col-1" id="time_a2_quantile3"></td>
                        <td class="col-1" id="time_a2_max"></td>
                        <td class="col-1" id="time_a2_average"></td>
                        <td class="col-2" id="time_a2_sd" ></td>
                        <td class="col-1" id="time_a2_variance"></td>
                        <td class="col-1" id="time_a2_nbP"></td>
                    </tr>
                    <tr>
                        <td class="col-2">Cooperation</td>
                        <td class="col-1" id="cooperation_min"></td>
                        <td class="col-1" id="cooperation_quantile1"></td>
                        <td class="col-1" id="cooperation_median"></td>
                        <td class="col-1" id="cooperation_quantile3"></td>
                        <td class="col-1" id="cooperation_max"></td>
                        <td class="col-1" id="cooperation_average"></td>
                        <td class="col-2" id="cooperation_sd" ></td>
                        <td class="col-1" id="cooperation_variance"></td>
                        <td class="col-1" id="cooperation_nbP"></td>
                    </tr>
                    <tr>
                        <td class="col-2">Age</td>
                        <td class="col-1" id="age_min"></td>
                        <td class="col-1" id="age_quantile1"></td>
                        <td class="col-1" id="age_median"></td>
                        <td class="col-1" id="age_quantile3"></td>
                        <td class="col-1" id="age_max"></td>
                        <td class="col-1" id="age_average"></td>
                        <td class="col-2" id="age_sd" ></td>
                        <td class="col-1" id="age_variance"></td>
                        <td class="col-1" id="age_nbP"></td>
                    </tr>

                    </tbody>
                </table>
                </div>
            <div  id="piechart" style="width: 100%; height: 500px;"></div>
            <div  id="piechart2" style="width: 100%; height: 500px;"></div>

        </div>

        <div class="tab-pane" id="onglet-list" role="tabpanel" aria-labelledby="global-tab">

            <div id="liste" class="col-12" style="display: flex;justify-content: center;flex-direction: column; align-items: center; flex-wrap: wrap">
                <table class="table table-striped table-fixed" >
                    <thead class="thead-dark">
                    <tr>
                        <th class="col-1 global_table_statistic">ID Video</th>
                        <th class="col-1 global_table_statistic">ID Participant</th>
                        <th class="col-1 global_table_statistic">ID Team</th>
                        <th class="col-1 global_table_statistic">Age</th>
                        <th class="col-1 global_table_statistic">Age Category</th>
                        <th class="col-1 global_table_statistic">Gender</th>
                        <th class="col-1 global_table_statistic">Fluidity</th>
                        <th class="col-1 global_table_statistic">Flexibility</th>
                        <th class="col-1 global_table_statistic">Originality</th>
                        <th class="col-1 global_table_statistic">Time</th>
                        <th class="col-1 global_table_statistic">Time AF01</th>
                        <th class="col-1 global_table_statistic">Time AF02</th>
                        <th class="col-1 global_table_statistic">Time AF03</th>
                        <th class="col-1 global_table_statistic">Time AF04</th>
                        <th class="col-1 global_table_statistic">Time AF05</th>
                    </tr>
                    </thead>
                    <tbody class="tbl-list-videos" id="global_data_table">


                    </tbody>
                </table>
                <div  id="piechartGlobal" style="width: 100%; height: 500px;"></div>
            </div>

        </div>

        <div class="tab-pane" id="onglet-list2" role="tabpanel" aria-labelledby="A1-tab">

            <div id="liste" class="col-12" style="display: flex;justify-content: center;flex-direction: column; align-items: center">
                <table class="table table-striped table-fixed" style="width: 80%">
                    <thead class="thead-dark">
                    <tr>
                        <th class="col-1">ID Video</th>
                        <th class="col-2">ID Participant</th>
                        <th class="col-1">ID Team</th>
                        <th class="col-1">Age</th>
                        <th class="col-2">Age Category</th>
                        <th class="col-1">Gender</th>
                        <th class="col-1">Fluidity</th>
                        <th class="col-1">Flexibility</th>
                        <th class="col-1">Originality</th>
                        <th class="col-1">Time</th>

                    </tr>
                    </thead>
                    <tbody class="tbl-list-videos" id="a1_data_table">

                    </tbody>
                </table>
                <div  id="piechartA1" style="width: 100%; height: 500px;"></div>
            </div>

        </div>

        <div class="tab-pane" id="onglet-list3" role="tabpanel" aria-labelledby="A2-tab">

            <div id="liste" class="col-12" style="display: flex;justify-content: center;flex-direction: column; align-items: center">
                <table class="table table-striped table-fixed" style="width: 80%">
                    <thead class="thead-dark">
                    <tr>
                        <th class="col-1">ID Video</th>
                        <th class="col-2">ID Participant</th>
                        <th class="col-1">ID Team</th>
                        <th class="col-1">Age</th>
                        <th class="col-2">Age Category</th>
                        <th class="col-1">Gender</th>
                        <th class="col-1">Fluidity</th>
                        <th class="col-1">Flexibility</th>
                        <th class="col-1">Originality</th>
                        <th class="col-1">Time</th>

                    </tr>
                    </thead>
                    <tbody class="tbl-list-videos" id="a2_data_table">

                    </tbody>
                </table>

                <div  id="piechartA2" style="width: 100%; height: 500px;"></div>
            </div>

        </div>

    </div>

</div>


<script src="https://igniteui.com/js/external/FileSaver.js"></script>
<script src="sheetjs/dist/xlsx.full.min.js"></script>
<script src="mathjs/lib/browser/math.js"></script>
<script src="js/codingConverter.js"></script>
<script src="js/creativityCalculator.js"></script>
<script src="js/participationFilter.js"></script>
<script src="js/cooperationCalculator.js"></script>
<script src="/js/timeCalculator.js" charset="utf-8"></script>
<script src="/js/statistic.js" charset="utf-8"></script>

<script>


    var currentParticipation = new Array();

    $(function (){
        addAllBeginTable()

    })

    // gestion des changements de critères de filtrage des participations
    $("#filtres").change(function() {
        currentParticipation = modifyListe();
    });

    // Gestion des changements de sélection des participations
    /*$("#liste").change(function() {
        changeSelection($(this).val());
    });*/

    document.getElementById('update_table').onclick = function (){

        globalStatistic(currentParticipation)
        participantStatistic(currentParticipation)
        initPieChart()
    }


    document.onscroll = (event) => {
        initPieChart()
    }



</script>

</div>

