<div>

    <ul>
        {% for user in users %}

        <li>{{ user.name }} {{ user.firstName }} : {{ user.userId }}</li>

            {% if hostStatus %}
            <button onclick="deleteUser({{ user }})" id="delete-{{ user.userId }}" >Supprimer</button>
            {% endif %}

        {% endfor %}

    </ul>

    {% if hostStatus %}
    <label>
        <textarea id="name">Nom</textarea>
    </label>

    <label>
        <textarea id="firstName">Prénom</textarea>
    </label>

    <label>
        <textarea id="id" >Login</textarea>
    </label>

<button id="add" onclick="addUser()">Ajouter</button>
    {% endif %}
</div>
<script src="/js/manageUsers.js" charset="utf-8"></script>