<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>

<script src="https://cdn.jsdelivr.net/npm/pdfkit@0.10.0/js/pdfkit.standalone.js"></script>
<script src="https://cdn.jsdelivr.net/npm/svg-to-pdfkit@0.1.8/source.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>



<div class="sidebar-sticky col-lg-3 col-xl-2" style="">
    {% include "participationFilter.html" %}
    {% include "participationList.html" %}

    <br>
    &nbsp;&nbsp;&nbsp;
    <input type="checkbox" class="form-check-input" name="passive-profile" id="passive-profile" value="true"> <label for="passive-profile"> Passive profiles</label>
    <br>
    &nbsp;&nbsp;&nbsp;
    <button type="button" id="excel"
            class="btn btn-primary">Créer un excel</button>
</div>


<div class="col-lg-9 col-xl-10">
    <ul class="nav nav-tabs" id="onglets" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="charts-tab" data-toggle="tab" href="#onglet-data"
               role="tab" aria-controls="data">
                Profiles
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="perseverance-fff-tab" data-toggle="tab" href="#onglet-list"
               role="tab" aria-controls="list">
                Perseverance Time First Family Figure
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="perseverance-p-tab" data-toggle="tab" href="#onglet-list1"
               role="tab" aria-controls="list">
                Perseverance Time On Profile
            </a>
        </li>


    </ul>
    <div class="tab-content">


        <div class="tab-pane active" id="onglet-data" role="tabpanel" aria-labelledby="charts-tab" style="display: flex; flex-wrap: wrap">

            <div>
            <div id="chart-all-div" style="width:700px; height: 500px;"></div>
            <button type="button" class="btn btn-primary" id="save-img-all">Télécharger le graphique</button>
            </div>

            <div>
            <div id="chart-all-div2" style="width:700px; height: 500px;"></div>
            <button type="button" class="btn btn-primary" id="save-img-all2">Télécharger le graphique</button>
            </div>

            <div>
            <div id="chart-gender-div" style="width:700px; height: 500px;"></div>
            <button type="button" class="btn btn-primary" id="save-img-gender">Télécharger le graphique</button>
            </div>

            <div>
                <div id="chart-gender-div2" style="width:700px; height: 500px;"></div>
                <button type="button" class="btn btn-primary" id="save-img-gender2">Télécharger le graphique</button>
            </div>

            <div>
            <div id="chart-age-div" style="width:700px; height: 500px;"></div>
            <button type="button" class="btn btn-primary" id="save-img-age">Télécharger le graphique</button>
            </div>

            <div>
                <div id="chart-age-div2" style="width:700px; height: 500px;"></div>
                <button type="button" class="btn btn-primary" id="save-img-age2">Télécharger le graphique</button>
            </div>

        </div>

        <div class="tab-pane" id="onglet-list" role="tabpanel" aria-labelledby="perseverance-fff-tab">

            <table class="table table-striped table-fixed">
                <thead class="thead-dark">
                <tr>

                    <th class="col-2">Filter</th>
                    <th class="col-1">Min value</th>
                    <th class="col-1">First quantile</th>
                    <th class="col-1">Median</th>
                    <th class="col-1">Third quantile</th>
                    <th class="col-1">Max value</th>
                    <th class="col-1">Average</th>
                    <th class="col-2">Standard Deviation</th>
                    <th class="col-1">Variance</th>
                    <th class="col-1">Nb participant</th>
                </tr>
                </thead>
                <tbody class="tbl-list-videos">
                <tr>
                    <td class="col-2">None</td>
                    <td class="col-1" id="none_min"></td>
                    <td class="col-1" id="none_quantile1"></td>
                    <td class="col-1" id="none_median"></td>
                    <td class="col-1" id="none_quantile3"></td>
                    <td class="col-1" id="none_max"></td>
                    <td class="col-1" id="none_average"></td>
                    <td class="col-2" id="none_sd" ></td>
                    <td class="col-1" id="none_variance"></td>
                    <td class="col-1" id="none_nbP"></td>
                </tr>
                <tr>
                    <td class="col-2">Conservative profile</td>
                    <td class="col-1" id="conservative_min"></td>
                    <td class="col-1" id="conservative_quantile1"></td>
                    <td class="col-1" id="conservative_median"></td>
                    <td class="col-1" id="conservative_quantile3"></td>
                    <td class="col-1" id="conservative_max"></td>
                    <td class="col-1" id="conservative_average"></td>
                    <td class="col-2" id="conservative_sd" ></td>
                    <td class="col-1" id="conservative_variance"></td>
                    <td class="col-1" id="conservative_nbP"></td>
                </tr>
                <tr>
                    <td class="col-2">Creative profile</td>
                    <td class="col-1" id="creative_min"></td>
                    <td class="col-1" id="creative_quantile1"></td>
                    <td class="col-1" id="creative_median"></td>
                    <td class="col-1" id="creative_quantile3"></td>
                    <td class="col-1" id="creative_max"></td>
                    <td class="col-1" id="creative_average"></td>
                    <td class="col-2" id="creative_sd" ></td>
                    <td class="col-1" id="creative_variance"></td>
                    <td class="col-1" id="creative_nbP"></td>
                </tr>
                <tr>
                    <td class="col-2">Unintentional Conservative</td>
                    <td class="col-1" id="ni_conservative_min"></td>
                    <td class="col-1" id="ni_conservative_quantile1"></td>
                    <td class="col-1" id="ni_conservative_median"></td>
                    <td class="col-1" id="ni_conservative_quantile3"></td>
                    <td class="col-1" id="ni_conservative_max"></td>
                    <td class="col-1" id="ni_conservative_average"></td>
                    <td class="col-2" id="ni_conservative_sd" ></td>
                    <td class="col-1" id="ni_conservative_variance"></td>
                    <td class="col-1" id="ni_conservative_nbP"></td>
                </tr>
                <tr>
                    <td class="col-2">Unintentional Creative</td>
                    <td class="col-1" id="ni_creative_min"></td>
                    <td class="col-1" id="ni_creative_quantile1"></td>
                    <td class="col-1" id="ni_creative_median"></td>
                    <td class="col-1" id="ni_creative_quantile3"></td>
                    <td class="col-1" id="ni_creative_max"></td>
                    <td class="col-1" id="ni_creative_average"></td>
                    <td class="col-2" id="ni_creative_sd" ></td>
                    <td class="col-1" id="ni_creative_variance"></td>
                    <td class="col-1" id="ni_creative_nbP"></td>
                </tr>
                <tr>
                    <td class="col-2">Femme</td>
                    <td class="col-1" id="femme_min"></td>
                    <td class="col-1" id="femme_quantile1"></td>
                    <td class="col-1" id="femme_median"></td>
                    <td class="col-1" id="femme_quantile3"></td>
                    <td class="col-1" id="femme_max"></td>
                    <td class="col-1" id="femme_average"></td>
                    <td class="col-2" id="femme_sd" ></td>
                    <td class="col-1" id="femme_variance"></td>
                    <td class="col-1" id="femme_nbP"></td>
                </tr>
                <tr>
                    <td class="col-2">Homme</td>
                    <td class="col-1" id="homme_min"></td>
                    <td class="col-1" id="homme_quantile1"></td>
                    <td class="col-1" id="homme_median"></td>
                    <td class="col-1" id="homme_quantile3"></td>
                    <td class="col-1" id="homme_max"></td>
                    <td class="col-1" id="homme_average"></td>
                    <td class="col-2" id="homme_sd" ></td>
                    <td class="col-1" id="homme_variance"></td>
                    <td class="col-1" id="homme_nbP"></td>
                </tr>
                <tr>
                    <td class="col-2">Jeune enfant</td>
                    <td class="col-1" id="beb_min"></td>
                    <td class="col-1" id="beb_quantile1"></td>
                    <td class="col-1" id="beb_median"></td>
                    <td class="col-1" id="beb_quantile3"></td>
                    <td class="col-1" id="beb_max"></td>
                    <td class="col-1" id="beb_average"></td>
                    <td class="col-2" id="beb_sd" ></td>
                    <td class="col-1" id="beb_variance"></td>
                    <td class="col-1" id="beb_nbP"></td>
                </tr>
                <tr>
                    <td class="col-2">Enfant</td>
                    <td class="col-1" id="enf_min"></td>
                    <td class="col-1" id="enf_quantile1"></td>
                    <td class="col-1" id="enf_median"></td>
                    <td class="col-1" id="enf_quantile3"></td>
                    <td class="col-1" id="enf_max"></td>
                    <td class="col-1" id="enf_average"></td>
                    <td class="col-2" id="enf_sd" ></td>
                    <td class="col-1" id="enf_variance"></td>
                    <td class="col-1" id="enf_nbP"></td>
                </tr>
                <tr>
                    <td class="col-2">Adolescent</td>
                    <td class="col-1" id="ado_min"></td>
                    <td class="col-1" id="ado_quantile1"></td>
                    <td class="col-1" id="ado_median"></td>
                    <td class="col-1" id="ado_quantile3"></td>
                    <td class="col-1" id="ado_max"></td>
                    <td class="col-1" id="ado_average"></td>
                    <td class="col-2" id="ado_sd" ></td>
                    <td class="col-1" id="ado_variance"></td>
                    <td class="col-1" id="ado_nbP"></td>
                </tr>
                <tr>
                    <td class="col-2">Jeune adulte</td>
                    <td class="col-1" id="jad_min"></td>
                    <td class="col-1" id="jad_quantile1"></td>
                    <td class="col-1" id="jad_median"></td>
                    <td class="col-1" id="jad_quantile3"></td>
                    <td class="col-1" id="jad_max"></td>
                    <td class="col-1" id="jad_average"></td>
                    <td class="col-2" id="jad_sd" ></td>
                    <td class="col-1" id="jad_variance"></td>
                    <td class="col-1" id="jad_nbP"></td>
                </tr>
                <tr>
                    <td class="col-2">Adulte</td>
                    <td class="col-1" id="adu_min"></td>
                    <td class="col-1" id="adu_quantile1"></td>
                    <td class="col-1" id="adu_median"></td>
                    <td class="col-1" id="adu_quantile3"></td>
                    <td class="col-1" id="adu_max"></td>
                    <td class="col-1" id="adu_average"></td>
                    <td class="col-2" id="adu_sd" ></td>
                    <td class="col-1" id="adu_variance"></td>
                    <td class="col-1" id="adu_nbP"></td>
                </tr>
                <tr>
                    <td class="col-2">Senior</td>
                    <td class="col-1" id="senior_min"></td>
                    <td class="col-1" id="senior_quantile1"></td>
                    <td class="col-1" id="senior_median"></td>
                    <td class="col-1" id="senior_quantile3"></td>
                    <td class="col-1" id="senior_max"></td>
                    <td class="col-1" id="senior_average"></td>
                    <td class="col-2" id="senior_sd" ></td>
                    <td class="col-1" id="senior_variance"></td>
                    <td class="col-1" id="senior_nbP"></td>
                </tr>

                </tbody>
            </table>

        </div>

        <div class="tab-pane" id="onglet-list1" role="tabpanel" aria-labelledby="perseverance-p-tab">

            <table class="table table-striped table-fixed">
                <thead class="thead-dark">
                <tr>

                    <th class="col-2">Filter</th>
                    <th class="col-1">Min value</th>
                    <th class="col-1">First quantile</th>
                    <th class="col-1">Median</th>
                    <th class="col-1">Third quantile</th>
                    <th class="col-1">Max value</th>
                    <th class="col-1">Average</th>
                    <th class="col-2">Standard Deviation</th>
                    <th class="col-1">Variance</th>
                    <th class="col-1">Nb participant</th>
                </tr>
                </thead>
                <tbody class="tbl-list-videos">
                <tr>
                    <td class="col-2">None</td>
                    <td class="col-1" id="none_p_min"></td>
                    <td class="col-1" id="none_p_quantile1"></td>
                    <td class="col-1" id="none_p_median"></td>
                    <td class="col-1" id="none_p_quantile3"></td>
                    <td class="col-1" id="none_p_max"></td>
                    <td class="col-1" id="none_p_average"></td>
                    <td class="col-2" id="none_p_sd" ></td>
                    <td class="col-1" id="none_p_variance"></td>
                    <td class="col-1" id="none_p_nbP"></td>
                </tr>
                <tr>
                    <td class="col-2">Conservative profile</td>
                    <td class="col-1" id="conservative_p_min"></td>
                    <td class="col-1" id="conservative_p_quantile1"></td>
                    <td class="col-1" id="conservative_p_median"></td>
                    <td class="col-1" id="conservative_p_quantile3"></td>
                    <td class="col-1" id="conservative_p_max"></td>
                    <td class="col-1" id="conservative_p_average"></td>
                    <td class="col-2" id="conservative_p_sd" ></td>
                    <td class="col-1" id="conservative_p_variance"></td>
                    <td class="col-1" id="conservative_p_nbP"></td>
                </tr>
                <tr>
                    <td class="col-2">Creative profile</td>
                    <td class="col-1" id="creative_p_min"></td>
                    <td class="col-1" id="creative_p_quantile1"></td>
                    <td class="col-1" id="creative_p_median"></td>
                    <td class="col-1" id="creative_p_quantile3"></td>
                    <td class="col-1" id="creative_p_max"></td>
                    <td class="col-1" id="creative_p_average"></td>
                    <td class="col-2" id="creative_p_sd" ></td>
                    <td class="col-1" id="creative_p_variance"></td>
                    <td class="col-1" id="creative_p_nbP"></td>
                </tr>
                <tr>
                    <td class="col-2">Unintentional Conservative</td>
                    <td class="col-1" id="ni_conservative_p_min"></td>
                    <td class="col-1" id="ni_conservative_p_quantile1"></td>
                    <td class="col-1" id="ni_conservative_p_median"></td>
                    <td class="col-1" id="ni_conservative_p_quantile3"></td>
                    <td class="col-1" id="ni_conservative_p_max"></td>
                    <td class="col-1" id="ni_conservative_p_average"></td>
                    <td class="col-2" id="ni_conservative_p_sd" ></td>
                    <td class="col-1" id="ni_conservative_p_variance"></td>
                    <td class="col-1" id="ni_conservative_p_nbP"></td>
                </tr>
                <tr>
                    <td class="col-2">Unintentional Creative</td>
                    <td class="col-1" id="ni_creative_p_min"></td>
                    <td class="col-1" id="ni_creative_p_quantile1"></td>
                    <td class="col-1" id="ni_creative_p_median"></td>
                    <td class="col-1" id="ni_creative_p_quantile3"></td>
                    <td class="col-1" id="ni_creative_p_max"></td>
                    <td class="col-1" id="ni_creative_p_average"></td>
                    <td class="col-2" id="ni_creative_p_sd" ></td>
                    <td class="col-1" id="ni_creative_p_variance"></td>
                    <td class="col-1" id="ni_creative_p_nbP"></td>
                </tr>
                <tr>
                    <td class="col-2">Femme</td>
                    <td class="col-1" id="femme_p_min"></td>
                    <td class="col-1" id="femme_p_quantile1"></td>
                    <td class="col-1" id="femme_p_median"></td>
                    <td class="col-1" id="femme_p_quantile3"></td>
                    <td class="col-1" id="femme_p_max"></td>
                    <td class="col-1" id="femme_p_average"></td>
                    <td class="col-2" id="femme_p_sd" ></td>
                    <td class="col-1" id="femme_p_variance"></td>
                    <td class="col-1" id="femme_p_nbP"></td>
                </tr>
                <tr>
                    <td class="col-2">Homme</td>
                    <td class="col-1" id="homme_p_min"></td>
                    <td class="col-1" id="homme_p_quantile1"></td>
                    <td class="col-1" id="homme_p_median"></td>
                    <td class="col-1" id="homme_p_quantile3"></td>
                    <td class="col-1" id="homme_p_max"></td>
                    <td class="col-1" id="homme_p_average"></td>
                    <td class="col-2" id="homme_p_sd" ></td>
                    <td class="col-1" id="homme_p_variance"></td>
                    <td class="col-1" id="homme_p_nbP"></td>
                </tr>
                <tr>
                    <td class="col-2">Jeune enfant</td>
                    <td class="col-1" id="beb_p_min"></td>
                    <td class="col-1" id="beb_p_quantile1"></td>
                    <td class="col-1" id="beb_p_median"></td>
                    <td class="col-1" id="beb_p_quantile3"></td>
                    <td class="col-1" id="beb_p_max"></td>
                    <td class="col-1" id="beb_p_average"></td>
                    <td class="col-2" id="beb_p_sd" ></td>
                    <td class="col-1" id="beb_p_variance"></td>
                    <td class="col-1" id="beb_p_nbP"></td>
                </tr>
                <tr>
                    <td class="col-2">Enfant</td>
                    <td class="col-1" id="enf_p_min"></td>
                    <td class="col-1" id="enf_p_quantile1"></td>
                    <td class="col-1" id="enf_p_median"></td>
                    <td class="col-1" id="enf_p_quantile3"></td>
                    <td class="col-1" id="enf_p_max"></td>
                    <td class="col-1" id="enf_p_average"></td>
                    <td class="col-2" id="enf_p_sd" ></td>
                    <td class="col-1" id="enf_p_variance"></td>
                    <td class="col-1" id="enf_p_nbP"></td>
                </tr>
                <tr>
                    <td class="col-2">Adolescent</td>
                    <td class="col-1" id="ado_p_min"></td>
                    <td class="col-1" id="ado_p_quantile1"></td>
                    <td class="col-1" id="ado_p_median"></td>
                    <td class="col-1" id="ado_p_quantile3"></td>
                    <td class="col-1" id="ado_p_max"></td>
                    <td class="col-1" id="ado_p_average"></td>
                    <td class="col-2" id="ado_p_sd" ></td>
                    <td class="col-1" id="ado_p_variance"></td>
                    <td class="col-1" id="ado_p_nbP"></td>
                </tr>
                <tr>
                    <td class="col-2">Jeune adulte</td>
                    <td class="col-1" id="jad_p_min"></td>
                    <td class="col-1" id="jad_p_quantile1"></td>
                    <td class="col-1" id="jad_p_median"></td>
                    <td class="col-1" id="jad_p_quantile3"></td>
                    <td class="col-1" id="jad_p_max"></td>
                    <td class="col-1" id="jad_p_average"></td>
                    <td class="col-2" id="jad_p_sd" ></td>
                    <td class="col-1" id="jad_p_variance"></td>
                    <td class="col-1" id="jad_p_nbP"></td>
                </tr>
                <tr>
                    <td class="col-2">Adulte</td>
                    <td class="col-1" id="adu_p_min"></td>
                    <td class="col-1" id="adu_p_quantile1"></td>
                    <td class="col-1" id="adu_p_median"></td>
                    <td class="col-1" id="adu_p_quantile3"></td>
                    <td class="col-1" id="adu_p_max"></td>
                    <td class="col-1" id="adu_p_average"></td>
                    <td class="col-2" id="adu_p_sd" ></td>
                    <td class="col-1" id="adu_p_variance"></td>
                    <td class="col-1" id="adu_p_nbP"></td>
                </tr>
                <tr>
                    <td class="col-2">Senior</td>
                    <td class="col-1" id="senior_p_min"></td>
                    <td class="col-1" id="senior_p_quantile1"></td>
                    <td class="col-1" id="senior_p_median"></td>
                    <td class="col-1" id="senior_p_quantile3"></td>
                    <td class="col-1" id="senior_p_max"></td>
                    <td class="col-1" id="senior_p_average"></td>
                    <td class="col-2" id="senior_p_sd" ></td>
                    <td class="col-1" id="senior_p_variance"></td>
                    <td class="col-1" id="senior_p_nbP"></td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>


    <script src="https://igniteui.com/js/external/FileSaver.js"></script>
    <script src="sheetjs/dist/xlsx.full.min.js"></script>

    <script src="mathjs/lib/browser/math.js"></script>

    <script src="js/codingConverter.js"></script>
    <script src="js/download.js"></script>
    <script src="js/participationFilter.js"></script>
    <script src="/js/timeCalculator.js" charset="utf-8"></script>
    <script src="js/behaviorExcel.js"></script>
    <script src="js/creativityCalculator.js"></script>
    <script src="js/behaviorCharts.js"></script>
    <script src="js/behaviorCalculator.js"></script>
    <script src="js/statistic.js"></script>
    <script src="js/perseveranceTimeStatistics.js"></script>

    <script>


        var currentParticipation = new Array();

        // gestion des changements de critères de filtrage des participations
        $("#filtres").change( function () {
            modifyListe("initBehaviorChart");
        });


        $(function (){
            getAll(function (participations){
                currentParticipation = participations
                Object.assign(Participation, participations)
                initBehaviorChart();
                initBehaviorStatistics()
            })

        })

        // Gestion des changements de sélection des participations
        $("#liste").change(function() {
            changeSelection($(this).val());
        });

        document.getElementById('excel').onclick = function (){
            makeBehaviorExcel(currentParticipation)
        }

        document.getElementById('charts-tab').addEventListener('click', function (event) {
            $("#onglet-data").show()
        });

        document.getElementById('perseverance-fff-tab').addEventListener('click', function (event) {
            $("#onglet-data").hide()
        });

        document.getElementById('perseverance-p-tab').addEventListener('click', function (event) {
            $("#onglet-data").hide()
        });

        document.getElementById('passive-profile').addEventListener('click', function (event) {
            initBehaviorChart(currentParticipation)
        });

    </script>

</div>

