<script src="/d3/d3v3.js" charset="utf-8"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div class="sidebar-sticky col-lg-3 col-xl-2">
	{% include "participationFilter.html" %}
	{% include "participationList.html" %}
</div>

<div class="col-lg-9 col-xl-10">
	<ul class="nav nav-tabs" id="onglets" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="data-tab" data-toggle="tab" href="#onglet-data"
			   role="tab" aria-controls="data">
				Déroulement de l'activité
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="list-tab" data-toggle="tab" href="#onglet-list"
			   role="tab" aria-controls="list">
				Evolution de l'espace problème
			</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="onglet-data" role="tabpanel" aria-labelledby="data-tab">
			{% include "participationFlowChart.html" %}

			<br>
			<div id="liste" class="col-12" style="display: flex;justify-content: center;">
				<table class="table table-striped table-fixed" style="width: 50%">
					<thead class="thead-dark">
					<tr>
						<th class="col-4">Figure</th>
						<th class="col-4">Numéro</th>
						<th class="col-4">Couleur de la figure</th>
					</tr>
					</thead>
					<tbody class="tbl-list-videos">
					{% set count = 0 %}
					<tr>
						<td class="col-4" style="height: 62px; display: flex;align-items: center;">START ou T03</td>
						<td class="col-4" style="height: 62px;display: flex;align-items: center;">{{ count }}</td>
						<td class="col-4" style=" background-color:white; height: 62px;display: flex;align-items: center;"></td>
					</tr>
					{% for shape in shapes %}
						{% set count = count + 1 %}
						<tr>
							<td class="col-4" style="height: 62px;"><img src="/images/combinations/{{ shape.family }}-.jpg" style="height: 50px; margin: -6px"></td>
							<td class="col-4" style="height: 62px;display: flex;align-items: center;">{{ count }}</td>
							<td class="col-4" style=" height: 62px;display: flex;align-items: center;" id="{{ shape.family }}"></td>
						</tr>
					{% endfor %}
					<tr>
						<td class="col-4" style="height: 62px; display: flex;align-items: center;">X1</td>
						<td class="col-4" style="height: 62px;display: flex;align-items: center;">{{ count }}</td>
						<td class="col-4" style=" background-color:black; height: 62px;display: flex;align-items: center;"></td>
					</tr>
					{% set count = count + 1 %}
					<tr>
						<td class="col-4" style="height: 62px; display: flex;align-items: center;">XX</td>
						<td class="col-4" style="height: 62px;display: flex;align-items: center;">{{ count }}</td>
						<td class="col-4" style=" background-color:black; height: 62px;display: flex;align-items: center;"></td>
					</tr>
					</tbody>
				</table>
			</div>

		</div>
		<div class="tab-pane" id="onglet-list" role="tabpanel" aria-labelledby="list-tab">
			{% include "problemSpaceChart.html" %}
		</div>

	</div>
</div>
<script src="/js/codingConverter.js" charset="utf-8"></script>
<script>
	$("#onglets a").on("click", function(e) {
		debugger
		e.preventDefault();
		$(this).tab("show");
	});

	$(function () {
		$('.datepicker').datepicker({
			language: "fr",
			format: "dd/mm/yyyy",
			autoclose: "true",
			todayHighlight: "true",
			clearBtn: "true"
		})

	})


	// Gestion des changements de sélection des participations
	$("#liste").change(function() {
		changementSelection($(this).val());
	});


	putShapeFamilyColor()

</script>
