<div class="hamburger-menu col-lg-3">
	<nav class="navbar navbar-light light-blue lighten-4">
		<button id="HMenu" class="navbar-toggler" type="button"
				data-toggle="collapse" data-target="#hMenuNavbar"
				aria-controls="navbarSupportedContent1" aria-expanded="false"
				aria-label="Toggle navigation">
			<img class="hamburger-icon" src="images/open-iconic/menu-3x.png">
		</button>
		<div class="collapse navbar-collapse" id="hMenuNavbar">
			<ul class="navbar-nav mr-auto">
				{% for m in properties.menus %}
				<li class="nav-item">
					<a id="{{ m.id }}" class="nav-link hMenu-nav-link" href="#">
						{{ m.libelle }}
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</nav>
</div>
<div class="h1 col-lg-6">{{ properties.titre }}</div>
<div class="user col-lg-3">
	{{ session.cas_userinfo.displayname }}
	&nbsp;
	<a href="/logout"><img src="images/open-iconic/power-standby-3x.png"></a>
</div>
