<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>{{ properties.titre }}</title>
<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
<script src="/jquery/jquery-3.4.1.min.js" charset="utf-8"></script>
<script src="/bootstrap-4.3.1-dist/js/bootstrap.min.js" charset="utf-8"></script>
<link href="/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="/bsdp/bootstrap-datepicker.min.js" charset="utf-8"></script>
<script src="/bsdp/bootstrap-datepicker.fr.min.js" charset="utf-8"></script>
<link href="/bsdp/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
<link href="/css/creacube.css" rel="stylesheet" type="text/css" />
<script src="/js/utils.js" charset="utf-8"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"   integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="   crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
	margin: 0;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica;
}
.hamburger-menu {
	text-align: left;
}
.h1 {
	text-align: center;
}
.user {
	text-align: right;
}
.navbar-toggler {
	cursor: pointer;
}
button.navbar-toggler {
	border: none;
}
</style>
