<!DOCTYPE html>
<html lang="en">
<head>
{% include "head.html" %}
</head>
<body>
<div id="container" class="container-fluid" style="overflow: hidden">
	<div id="bandeau" class="row">
		{% include "hamburgerMenu.html" %}
	</div>
	<div id="content" class="row">
		{% include content %}
	</div>
	
</div>
<div id="footer">
	{% include "footer.html" %}
</div>
</body>
</html>