<h2>Creacube Données Individuelles</h2>
<div class="col-lg-12">
<table id='datas' border='1' style='padding: 10px'>
	<tr>
		<th>data</th>
	</tr>
	{% for json in jsonVideos %}
	<tr><td>
		<pre>
{{ json }}
		</pre>
	</td></tr>
	{% endfor %}
</table>
</div>
