<h2>Creacube JSON</h2>
<div class="col-lg-12">
	<div class="accordion" id="jsonList">
	{% for v in videos %}
		{% for p in v.participants %}
		<div class="card">
			<div class="card-header" id="heading{{ p.idParticipant }}">
			<button class="btn btn-link" type="button" data-toggle="collapse"
					data-target="#collapse{{ p.idParticipant }}" aria-expanded="false">
				{{ p.idParticipant }} - {{ p.nameParticipant }} ({{ p.clicks.length }} clicks)
			</button>
			</div>
			<div id="collapse{{ p.idParticipant }}" class="collapse"
					aria-labelledby="heading{{ p.idParticipant }}" data-parent="#jsonList">
{{ v.toString() }}
			</div>
		</div>
		{% endfor %}
	{% endfor %}
	</div>
</div>
