<div class="modal" id="newVideo" tabindex="1" role="dialog">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<form id="newVideoForm" action="" method="post" enctype="multipart/form-data">
				<div class="modal-header">
					<h5 class="modal-title">Nouvelle vidéo</h5>
<!-- 
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
 -->
				</div>
				<div class="modal-body">
					<div id="idVideoDiv" class="form-group row">
						<label for="idVideo" class="col-4 col-form-label">idVideo</label>
						<input type="text" id="idVideo" name="idVideo" maxlength="4"
								required class="col-4 form-control"></input>
					</div>
					<fieldset id="nbP" class="form-group">
						<div class="row">
							<legend class="col-4 col-form-label">nbParticipants</legend>
							<div class="col-8">
								<div class="form-control form-check form-check-inline">
									&nbsp;
									<input class= "form-check-input" type="radio" name="nbParticipants"
											required id="nbParticipants1" value="1">
									<label class="form-check-label" for="nbParticipants1">1</label>
									&nbsp;
									<input class= "form-check-input" type="radio" name="nbParticipants"
											required id="nbParticipants2" value="2">
									<label class="form-check-label" for="nbParticipants2">2</label>
									&nbsp;
									<input class= "form-check-input" type="radio" name="nbParticipants"
											required id="nbParticipants3" value="3">
									<label class="form-check-label" for="nbParticipants3">3</label>
								</div>
							</div>
						</div>
					</fieldset>
					<div id="idTeamBinDiv" class="form-group row">
						<label for="idTeamBin" class="col-4 col-form-label">idTeam (binôme)</label>
						<input type="text" id="idTeamBin" name="idTeamBin"
								maxlength="4" class="col-4 form-control"></input>
					</div>
					<div id="idTeamTriDiv" class="form-group row">
						<label for="idTeamTri" class="col-4 col-form-label">idTeam (trinôme)</label>
						<input type="text" id="idTeamTri" name="idTeamTri"
								maxlength="4" class="col-4 form-control"></input>
					</div>
					<div id="idTeamHistoryDiv" class="form-group row">
						<label for="idTeamHistory" class="col-4 col-form-label">
							idTeamHistory</label>
						<select id="idTeamHistory" name="idTeamHistory"
								class="col-8 form-control"></select>
					</div>
					<div id="idTeamClosernessDiv" class="form-group row">
						<label for="idTeamCloserness" class="col-4 col-form-label">
							idTeamCloserness</label>
						<select id="idTeamCloserness" name="idTeamCloserness"
								class="col-8 form-control"></select>
					</div>
					<div id="idP1Div" class="form-group row">
						<label for="idParticipant1" class="col-4 col-form-label">idParticipant1</label>
						<input type="text" id="idParticipant1" name="idParticipant1"
								maxlength="4" required class="col-4 form-control"></input>
					</div>
					<div id="idP2Div" class="form-group row">
						<label for="idParticipant2" class="col-4 col-form-label">idParticipant2</label>
						<input type="text" id="idParticipant2" name="idParticipant2"
								maxlength="4" class="col-4 form-control"></input>
					</div>
					<div id="idP3Div" class="form-group row">
						<label for="idParticipant3" class="col-4 col-form-label">idParticipant3</label>
						<input type="text" id="idParticipant3" name="idParticipant3"
								maxlength="4" class="col-4 form-control"></input>
					</div>
					<div id="idContextDiv" class="form-group row">
						<label for="idContext" class="col-4 col-form-label">idContext</label>
						<input type="text" id="idContext" name="idContext" class="col-8 form-control">
					</div>
					<div id="idDateDiv" class="form-group row">
						<label for="date" class="col-4 col-form-label">Date</label>
						<input type="text" id="date" name ="date" class="col-4 form-control datepicker"
							maxlength="10" data-provide="datepicker">
					</div>
					<div id="uploadDiv" class="form-group row">
						<label for="upload" class="col-4 col-form-label">Fichier vidéo</label>
						<input type="file" id="upload" name="upload" accept=".mp4,.mov"
							required class="col-8 form-control-file">
					</div>
					<fieldset id="videoOk" class="form-group">
						<div class="row">
							<legend class="col-4 col-form-label">videoOK</legend>
							<div class="col-8">
								<div class="form-control form-check form-check-inline">
									&nbsp;
									<input class= "form-check-input" type="radio" name="videoOK"
										id="vOK" value="true">
									<label for="vOK" class="col-4 col-form-label">OK</label>
									&nbsp;
									<input class= "form-check-input" type="radio" name="videoOK"
										id="vKO" value="false">
									<label for="vKO" class="col-4 col-form-label">KO</label>
								</div>
							</div>
						</div>
					</fieldset>
					<fieldset id="activity1" class="form-group">
						<div class="row">
							<legend class="col-4 col-form-label">activité 1</legend>
							<div class="col-8">
								<div class="form-control form-check form-check-inline">
									&nbsp;
									<input class= "form-check-input" type="radio" name="activity1"
										   id="act1OK" value="true">
									<label for="act1OK" class="col-4 col-form-label">OK</label>
									&nbsp;
									<input class= "form-check-input" type="radio" name="activity1"
										   id="act1KO" value="false">
									<label for="act1KO" class="col-4 col-form-label">KO</label>
								</div>
							</div>
						</div>
					</fieldset>
					<fieldset id="activity2" class="form-group">
						<div class="row">
							<legend class="col-4 col-form-label">activité 2</legend>
							<div class="col-8">
								<div class="form-control form-check form-check-inline">
									&nbsp;
									<input class= "form-check-input" type="radio" name="activity2"
										   id="act2OK" value="true">
									<label for="act2OK" class="col-4 col-form-label">OK</label>
									&nbsp;
									<input class= "form-check-input" type="radio" name="activity2"
										   id="act2KO" value="false">
									<label for="act2KO" class="col-4 col-form-label">KO</label>
								</div>
							</div>
						</div>
					</fieldset>
					<fieldset id="activity2" class="form-group">
						<div class="row">
							<legend class="col-4 col-form-label">activité 3</legend>
							<div class="col-8">
								<div class="form-control form-check form-check-inline">
									&nbsp;
									<input class= "form-check-input" type="radio" name="activity3"
										   id="act3OK" value="true">
									<label for="act3OK" class="col-4 col-form-label">OK</label>
									&nbsp;
									<input class= "form-check-input" type="radio" name="activity3"
										   id="act3KO" value="false">
									<label for="act3KO" class="col-4 col-form-label">KO</label>
								</div>
							</div>
						</div>
					</fieldset>
					<div class="form-group row">
						<label for="commentaire" class="col-4 col-form-label">commentaire :</label>
						<div class="col-8">
							<input type="text" name="commentaire" id="commentaire" class="form-control"
									value="">
						</div>
					</div>
					<div id="messages" class="alert alert-danger"></div>
					<div id="done" class="alert alert-success"></div>
				</div>
				<div id="wait" style="display: flex;justify-content: center;">
				<div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
				</div>
					<div id="div_import_result" style="display:none;color:red;word-break:break-all;width:400px;">
				</div>
				<div class="modal-footer">
					<div class="form-group" id="ajouterVideo">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">
								Annuler</button>
						<button type="submit" id="ajoutVideoBtn" class="btn btn-primary"
								data-dismiss="alert">Ajouter</button>
					</div>
					<div class="form-group" id="fermer">
						<button type="submit" id="closeVideoBtn" class="btn btn-primary"
								data-dismiss="modal">Fermer</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script src="/js/newVideo.js" charset="utf-8"></script>

