<div id="graphique">
	<div id="contsvg1"class="row">
		<svg id="svg1"></svg>
	</div>
	<div id="contsvg2"class="row">
		<svg id="svg2"></svg>
	</div>
	<div id="details" class="row card-deck">
		<div id="details1" class="card col1">
			<div id="details1h" class="class-header class-title Lead"></div>
			<div id="details1b" class="class-body"></div>
		</div>
		<div id="details2" class="card col2">
			<div id="details2h" class="class-header"></div>
			<div id="details2b" class="class-body"></div>
		</div>
		<div id="details3" class="card col3">
			<div id="details3h" class="class-header"></div>
			<div id="details3b" class="class-body"></div>
		</div>
		<div id="details4" class="card col4">
			<div id="details4h" class="class-header"></div>
			<div id="details4b" class="class-body"></div>
		</div>
	</div>
</div>

<script src="/js/participationFilter.js" charset="utf-8"></script>
<script src="/js/flowParticipationCreacube.js" charset="utf-8"></script>
<script>
// gestion des changements de critères de filtrage des participations
$("#filtres").change(function() {
	modifyListe();
});

// Affichage de la structure des graphiques
$(function() {
	initGraphiquesCreaCube();
});

// Gestion des changements de sélection des participations
$("#liste").change(function() {
	changementSelection($(this).val());
});

</script>
