<h2>Participations</h2>
<form id="participations" action="">
	<select id="liste" size="16" multiple>
	{% for p in participations %}
		<option value="{{ p.participants.idParticipant }}">{{ p.idVideo }} - 
			{{ p.participants.idParticipant }} -
			{{ p.participants.nameParticipant }} - {{ p.idTeam }}</option>
	{% endfor %}
	</select>
</form>
