<h2>Filtres</h2>
<form id="filtres" action="">

	<fieldset class="form-group" style="display: flex; flex-wrap: wrap;">
		<div class="input-group">
			<input type="number" id="ageMin" class="form-control rounded" placeholder="Age Min" aria-label="Search"
				   aria-describedby="search-addon" />
			<input type="number" id="ageMax" class="form-control rounded" placeholder="Age Max" aria-label="Search"
				   aria-describedby="search-addon" />
		</div>
	</fieldset>
	<fieldset class="form-group" style="display: flex; flex-direction: column;">
		<div >
			<input type="checkbox"name="ageBeb" id="ageBeb" class="form-check-input" style="margin-left: 0px">
			<label for="ageBeb" class="form-check-label" style="margin-left: 22px;">Jeune enfant</label>
		</div>
		<div >
			<input type="checkbox"name="ageEnf" id="ageEnf" class="form-check-input" style="margin-left: 0px">
			<label for="ageEnf" class="form-check-label" style="margin-left: 22px;">Enfant</label>
		</div>
		<div>
			<input type="checkbox" name="ageAdo" id="ageAdo" class="form-check-input" style="margin-left: 0px">
			<label for="ageAdo" class="form-check-label" style="margin-left: 22px;">Adolescent</label>
		</div>
		<div >
			<input type="checkbox" name="ageJAd" id="ageJAd" class="form-check-input" style="margin-left: 0px">
			<label for="ageJAd" class="form-check-label" style="margin-left: 22px;">Jeune adulte</label>
		</div>
		<div >
			<input type="checkbox" name="ageAdu" id="ageAdu" class="form-check-input" style="margin-left: 0px">
			<label for="ageAdu" class="form-check-label" style="margin-left: 22px;">Adulte</label>
		</div>
		<div >
			<input type="checkbox" name="ageSen" id="ageSen" class="form-check-input" style="margin-left: 0px">
			<label for="ageSen" class="form-check-label" style="margin-left: 22px;">Senior</label>
		</div>
		<div id="idTeam-div">
			<input type="checkbox" name="idTeam" id="idTeam" class="form-check-input" style="margin-left: 0px">
			<label for="idTeam" class="form-check-label" id="idTeam-label" style="margin-left: 22px;">Trier par idTeam</label>
		</div>
	</fieldset>

	<fieldset class="form-group" style="display: flex; flex-wrap: wrap;">
		<div style="width: 85px">
			<input type="radio" name="genre" id="genreF" value="F" class="form-check-input" style="margin-left: 0px">
			<label for="genreF" class="form-check-label" style="margin-left: 22px;">F</label>
		</div>
		<div style="width: 85px">
			<input type="radio" name="genre" id="genreM" value="M" class="form-check-input" style="margin-left: 0px">
			<label for="genreM" class="form-check-label" style="margin-left: 22px;">M</label>
		</div>
		<div style="width: 85px">
			<input type="radio" name="genre" id="genreT" value="M" class="form-check-input" checked="checked" style="margin-left: 0px">
			<label for="genreT" class="form-check-label" checked style="margin-left: 22px;">Tout</label>
		</div>
	</fieldset>

	<fieldset class="form-group" style="display: flex; flex-wrap: wrap;">


		<div style="width: 85px">
			<input type="radio" name="modalite" id="modaliteI" value="I" class="form-check-input" style="margin-left: 0px">
			<label for="modaliteI" class="form-check-label" style="margin-left: 22px;" >Individuel</label>
		</div>
		<div style="width: 85px">
			<input type="radio" name="modalite" id="modaliteC" value="C" class="form-check-input" style="margin-left: 0px">
			<label for="modaliteC" class="form-check-label" style="margin-left: 22px;">Collectif</label>
		</div>
		<div style="width: 85px">
			<input type="radio" name="modalite" id="modaliteB" value="B" class="form-check-input" style="margin-left: 0px">
			<label for="modaliteC" class="form-check-label" style="margin-left: 22px;">Binôme</label>
		</div>
		<div style="width: 85px">
			<input type="radio" name="modalite" id="modaliteT" value="T" class="form-check-input" style="margin-left: 0px">
			<label for="modaliteC" class="form-check-label" style="margin-left: 22px;">Trinôme</label>
		</div>
		<div style="width: 85px">
			<input type="radio" name="modalite" id="modaliteA" value="A" class="form-check-input" checked="checked" style="margin-left: 0px">
			<label for="modaliteT" class="form-check-label" checked style="margin-left: 22px;">Tout</label>
		</div>


	</fieldset>

	<!--<fieldset class="form-group">
		<label for="datDeb" class="intitule">De</label>
		<input type="text" id="datDeb" class="form-control datepicker" data-provide="datepicker">
		<label for="datFin" class="intitule">Ã </label>
		<input type="text" id="datFin" class="form-control datepicker" data-provide="datepicker">
	</fieldset>-->
	<fieldset class="form-group">

		<div class="input-group">
			<input type="search" id="idContext" class="form-control rounded" placeholder="Recherche par idContext" aria-label="Search"
				   aria-describedby="search-addon" />
			<button type="button" class="btn btn-outline-primary" onkeypress="modifyListe()" >Go</button>
		</div>
		<!--<label for="idContext">Recherche par idContext</label>
		<input type="text" id="idContext" name="search" onkeyup="modifyListe()" placeholder="Recherche par idContext">-->
	</fieldset>

</form>

