<h2>Creacube Data</h2>
<!-- 
<div style='margin: 0 10px 10px 100px'>
	<i>CSV file :</i> <input id='csv_file' type='text' value='result'
		size='16' onKeypress='if (event.keyCode == 13) return false;' /><input
		type='button'
		style='margin: 5px; border: none; text-decoration: none; display: inline-block;'
		value='save as csv file'
		onClick='if (confirm("OK to save this data ?")) results.saveCSV(document.getElementById("csv_file").value)' />
</div>
 -->
<table id='datas' border='1' style='padding: 10px'>
	<tr>
		<th>Vidéo</th>
		<th>Participant</th>
	{% for f in listeFields %}
		<th>{{ f }}</th>
	{% endfor %}
		<th>Warnings</th>
	</tr>
	{% for v in videos %}
		{% for p in v.participants %}
	<tr>
		<td>{{ v.idVideo}}</td>
		<td>{{ p.idParticipant }}</td>
			{% for f in listeFields %}
		<td>{{ p.results[f] }}</td>
			{% endfor %}
		<td>
			{% for i in p.results._warnings %}
			{{ p.results._warnings[i] }}<br>
			{% endfor %}
		</td>
	</tr>
		{% endfor %}
	{% endfor %}
</table>
