<!DOCTYPE html>
<html lang="en">
<head>


{% include "head.html" %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
<div id="container" class="container-fluid">
	{% include "contentVideoTreatment.html" %}
	{% include "videoTreatmentModal.html" %}
</div>
<script src="js/videoTreatmentCreacube.js" charset="utf-8"></script>
<script src="js/videoTreatment.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
	$(function() {
		initTraitVideoCreaCube( {{ video | safe }} );
		//initOKs({{ video.videoOK }}, {{ video.activity1 }}, {{ video.activity2 }}, {{ video.activity3 }})
	});

    document.getElementById("delete_video").addEventListener('click', function(){
        deleteVideo({{ video | safe }})
    })

	document.getElementById("videoOK_true").addEventListener('click', function(){
        changeOK({{ video | safe }}, "videoOK")
    })

    document.getElementById("videoOK_false").addEventListener('click', function(){
        changeKO({{ video | safe }}, "videoOK")
    })

    document.getElementById("activity1_true").addEventListener('click', function(){
        changeOK({{ video | safe }}, "activity1")
    })

    document.getElementById("activity1_false").addEventListener('click', function(){
        changeKO({{ video | safe }}, "activity1")
    })
    document.getElementById("activity2_true").addEventListener('click', function(){
        changeOK({{ video | safe }}, "activity2")
    })

    document.getElementById("activity2_false").addEventListener('click', function(){
        changeKO({{ video | safe }}, "activity2")
    })

    document.getElementById("activity3_true").addEventListener('click', function(){
        changeOK({{ video | safe }}, "activity3")
    })

    document.getElementById("activity3_false").addEventListener('click', function(){
        changeKO({{ video | safe }}, "activity3")
    })


</script>


</body>
</html>
