
<div class="modal draggable" id="eventMap" tabindex="1" role="dialog">
	<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header" id="eventHeader">
				<h2 class="modal-title">Evénement</h2>
				<button  id="close" type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class='area' id="areaEvent">
					<img src='/images/interface-9.png' id="mainImg" usemap='#map1' style="height: 540px; width: 960px" alt="" />
					<map name='map1'>
						<!-- <area shape='rect' coords='x1,y1,x2,y2' href='javascript:action()'/> -->
			
						<area shape='rect' coords='0,0,157,72' href='javascript:addclick("AS00")' />
						<area shape='rect' coords='0,72,157,154' href='javascript:addclick("AS01")' />
						<area shape='rect' coords='0,154,157,226' href='javascript:addclick("AS02")' />
						<area shape='rect' coords='0,226,157,293' href='javascript:addclick("AS03")' />
			
						<area shape='rect' coords='0,413,79,498' href='javascript:addclick("START1")' />
						<area shape='rect' coords='0,453,79,538' href='javascript:addclick("START2")' />
			
						<area shape='rect' coords='79,293,157,334' href='javascript:javascript:addclick("U00")' />
						<area shape='rect' coords='79,334,157,380' href='javascript:javascript:addclick("U01")' />
						<area shape='rect' coords='157,293,223,380' href='javascript:addclick("U02")' />
						<area shape='rect' coords='223,293,291,380' href='javascript:addclick("U03")' />
						<area shape='rect' coords='291,293,388,380' href='javascript:addclick("U04")' />
						<area shape='rect' coords='388,293,484,380' href='javascript:addclick("U05")' />
						<area shape='rect' coords='484,293,584,380' href='javascript:addclick("U06")' />
						<area shape='rect' coords='584,293,700,380' href='javascript:addclick("U07")' />
			
						<area shape='rect' coords='79,380,157,453' href='javascript:addclick("B01")' />
						<area shape='rect' coords='157,380,223,453' href='javascript:addclick("B02")' />
						<area shape='rect' coords='223,380,291,453' href='javascript:addclick("B03")' />
						<area shape='rect' coords='291,380,388,453' href='javascript:addclick("B04")' />
						<area shape='rect' coords='388,380,484,453' href='javascript:addclick("B05")' />
			
						<area shape='rect' coords='79,453,157,538' href='javascript:addclick("AF01")' />
						<area shape='rect' coords='157,453,223,538' href='javascript:addclick("AF02")' />
						<area shape='rect' coords='223,453,291,538' href='javascript:addclick("AF03")' />
						<area shape='rect' coords='293,453,388,538' href='javascript:addclick("AF04")' />
						<area shape='rect' coords='388,453,484,501' href='javascript:addclick("AF05")' />


						<area shape='rect' coords='157,18,235,85' href='javascript:addclick("F000")'/>
						<area shape='rect' coords='317,18,235,85' href='javascript:addclick("F002")' />
						<area shape='rect' coords='401,18,315,85' href='javascript:addclick("F010")' />
						<area shape='rect' coords='401,18,480,85' href='javascript:addclick("F011")' />
						<area shape='rect' coords='482,18,560,85' href='javascript:addclick("F012")' />
						<area shape='rect' coords='562,18,640,85' href='javascript:addclick("F013")' />
						<area shape='rect' coords='642,18,720,85' href='javascript:addclick("F014")' />
						<area shape='rect' coords='722,18,800,85' href='javascript:addclick("F015")' />

						<area shape='rect' coords='157,88,235,153' href='javascript:addclick("F020")'/>
						<area shape='rect' coords='317,88,235,153' href='javascript:addclick("F021")' />
						<area shape='rect' coords='401,88,315,153' href='javascript:addclick("F022")' />
						<area shape='rect' coords='401,88,480,153' href='javascript:addclick("F024")' />
						<area shape='rect' coords='482,88,560,153' href='javascript:addclick("F025")' />
						<area shape='rect' coords='562,88,640,153' href='javascript:addclick("F030")' />
						<area shape='rect' coords='642,88,720,153' href='javascript:addclick("F034")' />

						<area shape='rect' coords='157,153,235,222' href='javascript:addclick("F040")'/>
						<area shape='rect' coords='317,153,235,222' href='javascript:addclick("F042")' />
						<area shape='rect' coords='401,153,315,222' href='javascript:addclick("F044")' />
						<area shape='rect' coords='401,153,480,222' href='javascript:addclick("F045")' />
						<area shape='rect' coords='482,153,560,222' href='javascript:addclick("F050")' />
						<area shape='rect' coords='562,153,640,222' href='javascript:addclick("F051")' />
						<area shape='rect' coords='642,153,720,222' href='javascript:addclick("F055")' />
						<area shape='rect' coords='722,153,800,222' href='javascript:addclick("F056")' />

						<area shape='rect' coords='157,223,235,291' href='javascript:addclick("F060")'/>
						<area shape='rect' coords='317,223,235,291' href='javascript:addclick("F061")' />
						<area shape='rect' coords='401,223,315,291' href='javascript:addclick("F064")' />
						<area shape='rect' coords='401,223,480,291' href='javascript:addclick("F065")' />
						<area shape='rect' coords='482,223,560,291' href='javascript:addclick("F066")' />
						<area shape='rect' coords='562,223,720,291' href='javascript:addclick("FX1")' />
						<area shape='rect' coords='722,223,800,291' href='javascript:addclick("FXX")' />

			
						<area shape='rect' coords='484,380,584,453' href='javascript:addclick("E01")' />
						<area shape='rect' coords='584,380,700,453' href='javascript:addclick("E02")' />
						<area shape='rect' coords='700,380,802,453' href='javascript:addclick("E03")' />
						<area shape='rect' coords='802,380,958,453' href='javascript:addclick("E04")' />
						<area shape='rect' coords='484,453,584,538' href='javascript:addclick("E05")' />
						<area shape='rect' coords='584,453,700,538' href='javascript:addclick("E06")' />
						<area shape='rect' coords='700,453,802,538' href='javascript:addclick("E07")' />
						<area shape='rect' coords='802,453,958,538' href='javascript:addclick("E08")' />
			
						<area shape='rect' coords='802,18,958,50' href='javascript:addclick("BU01")' />
						<area shape='rect' coords='802,50,958,88' href='javascript:addclick("BU02")' />
			
						<area shape='rect' coords='802,88,958,110' href='javascript:addclick("P01")' />
						<area shape='rect' coords='802,110,958,132' href='javascript:addclick("P02")' />
						<area shape='rect' coords='802,132,958,158' href='javascript:addclick("P03")' />
						<area shape='rect' coords='802,158,958,182' href='javascript:addclick("P04")' />
						<area shape='rect' coords='802,182,958,206' href='javascript:addclick("P05")' />
						<area shape='rect' coords='802,202,958,232' href='javascript:addclick("P06")' />
						<area shape='rect' coords='802,232,958,256' href='javascript:addclick("P07")' />
						<area shape='rect' coords='802,256,958,280' href='javascript:addclick("P08")' />
						<area shape='rect' coords='802,280,958,302' href='javascript:addclick("P09")' />
						<area shape='rect' coords='802,302,958,330' href='javascript:addclick("P10")' />
						<area shape='rect' coords='802,330,958,354' href='javascript:addclick("P11")' />
						<area shape='rect' coords='802,354,958,380' href='javascript:addclick("P12")' />
			
						<area shape='rect' coords='700,293,802,323' href='javascript:addclick("T01")' />
						<area shape='rect' coords='700,323,802,355' href='javascript:addclick("T02")' />
						<area shape='rect' coords='700,355,802,380' href='javascript:addclick("T03")' />
			
						<area shape='rect' coords='0,293,79,381' href='javascript:addclick("FL01")' />
						<area shape='rect' coords='0,381,79,453' href='javascript:addclick("FL02")' />
			
						<!-- <area shape='rect' coords='388,500,484,538' href='javascript:undo()' /> -->
					</map>



					<!--<select id="id_select" >
						<option data-img_src="/images/1.jpg" value="yes" id="test1">yes</option>
						<option data-img_src="/images/2.jpg"  value="no">no</option>
						<option data-img_src="/images/3.jpg" value="noel">test</option>
					</select>-->
				</div>

				<button type="button" class="btn btn-primary" id="functionalOrNot">
					Avec True False </button>

			</div>
			<div class="modal-footer">
				<form id="eventForm" style="width: 3000px">
					<div class="form-group">
						<label for="posRange">Position dans la vidéo</label>
						<input type="text" id="posRange" class="" size="5" value="" disabled>
					</div>
					<div class="form-group">
						<label for="selEventT">S/T</label>
						<input type="text" id="selEventT" class="selEvent" size="5" value="" disabled>
						<img id="emptyT" src="/images/circle-cross.png" style="cursor: pointer">
						<label for="selEventAF">AF</label>
						<input type="text" id="selEventAF" class="selEvent" size="5" value="" disabled>
						<img id="emptyAF" src="/images/circle-cross.png" style="cursor: pointer">
						<label for="selEventAS">AS</label>
						<input type="text" id="selEventAS" class="selEvent" size="5" value="" disabled>
						<img id="emptyAS" src="/images/circle-cross.png" style="cursor: pointer">
						<label for="selEventB">B</label>
						<input type="text" id="selEventB" class="selEvent" size="5" value="" disabled>
						<img id="emptyB" src="/images/circle-cross.png" style="cursor: pointer">
						<label for="selEventBU">BU</label>
						<input type="text" id="selEventBU" class="selEvent" size="5" value="" disabled>
						<img id="emptyBU" src="/images/circle-cross.png" style="cursor: pointer">
						<label for="selEventE">E</label>
						<input type="text" id="selEventE" class="selEvent" size="5" value="" disabled>
						<img id="emptyE" src="/images/circle-cross.png" style="cursor: pointer">
						<label for="selEventF">F</label>
						<input type="text" id="selEventF" class="selEvent" size="12" value="" disabled>
						<img id="emptyF" src="/images/circle-cross.png" style="cursor: pointer">
						<button  type="button" id="trueF"> <img  src="/images/circle-check-2x-green.png"></button>
						<button  type="button" id="falseF" ><img  src="/images/circle-x-2x-red.png"></button>
						<label for="selEventFL">FL</label>
						<input type="text" id="selEventFL" class="selEvent" size="5" value="" disabled>
						<img id="emptyFL" src="/images/circle-cross.png" style="cursor: pointer">
						<label for="selEventP">P</label>
						<input type="text" id="selEventP" class="selEvent" size="5" value="" disabled>
						<img id="emptyP" src="/images/circle-cross.png" style="cursor: pointer">
						<label for="selEventU">U</label>
						<input type="text" id="selEventU" class="selEvent" size="5" value="" disabled>
						<img id="emptyU" src="/images/circle-cross.png" style="cursor: pointer">
					</div>
<!-- 
					<div class="form-group" id="ajouterEvt">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
						<button type="button" id="ajoutEventBtn" class="btn btn-primary" data-dismiss="alert">
						Ajouter
						</button>
					</div>
 -->
 					<div class="form-group" id="modifierEvt">
						<button type="button" id="cancelActions" class="btn btn-secondary" data-dismiss="modal">
							Annuler</button>
						<button type="button" id="supprimerEventBtn" class="btn btn-primary">
							Supprimer tout</button>
						<button type="button" id="confirmerSupprimerEventBtn" class="btn btn-primary">
							Confirmer la suppression</button>
						<button type="button" id="enregistrerEventBtn" class="btn btn-primary"
							data-dismiss="alert">Enregistrer
						</button>

					</div>
				</form>
			</div>
		</div>
	</div>
</div>



