.header {
	position: fixed;
	height: 100px;
	top: 0;
	left: 0;
	right: 0;
}

#container {
	min-height: 700px;
}

#details {
	min-height: 150px;
	margin-top: 40px;
}

.title {
	font-weight: bold;
}

h1 {
	text-align: left;
	font-size: 14pt;
	font-weight: bold;
}

h2 {
	font-size: 12pt;
	font-weight: bold;
	margin-top: 2pt;
}

select {
	width: 100%;
}

g text {
	font-family: sans-serif;
	font-size: 8pt;
}

.intitule {
	text-align: left;
}

#details {
	margin-left: 100px;
	margin-right: 100px;
}

#details1, #details2, #details3, #details4 {
	padding: 5px;
}


.axis path, .axis line {
	fill: none;
	stroke: #977;
	shape-rendering: crispEdges;
}

.grid .tick {
	stroke: lightgrey;
	opacity: 0.7;
}

.line {
	fill: none;
	stroke-width: 1.2px;
}

.col1 {
	stroke: royalblue;
	border-color: royalblue;
}

.col2 {
	stroke: turquoise;
	border-color: turquoise;
}

.col3 {
	stroke: saddlebrown;
	border-color: saddlebrown;
}

.col4 {
	stroke: violet;
	border-color: violet;
}

.form-group {
	margin-bottom: 0;
}

.nav-link.active {
	font-weight: bold;
	font-size: 120%;
}

.tbl-list-videos {
	height: 700px !important;
}

.table-fixed tbody {
	overflow-y: auto;
	width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
	display: block;
}

.table-fixed tr:after {
	content: "";
	display: block;
	visibility: hidden;
	clear: both;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
	float: left;
	position: relative; &:: after {
		content: ''; 
		clear: both;
		display: block;
	}
}

.list-evts {
	height: 450px;
}

.selEvent {
	color: green;
	font-weight: bold;
	text-align: center;
}

#ajoutParticipation,
#ajoutVideoDiv {
	text-align: right;
}

#listeEvents {
	height: 50%;
	margin-top: 15px;
	border: 1px;
	border: solid;
	border: rgb(0, 0, 0/*, .125*/);
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
}

.modal-xl{
	max-width: 1250px;
}
#areaEvent{
	display : flex
}
/*.select2-container--default {
	max-height: 80px;
}
.select2-selection--single{
	max-height: 80px;
}
.select2-selection__rendered{
	max-height: 80px;
}*/
img:not(#mainImg)
{
	max-height: 75px;
	max-width: 200px;
}

/*.select2-dropdown {
	height: 80px;
	max-width: 250px;
}

.select2-selection__rendered{
	height: 80px;
	max-width: 250px;
}
.select2-container{
	height: 80px;
	max-width: 250px;
}
.select2-container--default{
	height: 80px;
	max-width: 250px;
}
.selection{
	height: 80px;
	max-width: 250px;
}

.select2-container select2-container--default select2-container--open{

top: 25%
}
*/


.select2-container{
	max-height: 80px;
}

/*.select2-container--default .select2-results > .select2-results__options {
	max-height: 400px;
	overflow-y: auto;
}*/

.select2-results{
	height: 400px;
}
.select2-results__options{
	max-height: 400px !important;
}

.global_table_statistic{
		width: 100px;
}

.lds-spinner {
	color: official;
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-spinner div {
	transform-origin: 40px 40px;
	animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
	content: " ";
	display: block;
	position: absolute;
	top: 3px;
	left: 37px;
	width: 6px;
	height: 18px;
	border-radius: 20%;
	background: #cef;
}
.lds-spinner div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: 0s;
}
@keyframes lds-spinner {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#ui-datepicker-div{
	background-color: white;
}

